<ion-item>
  <div style="display: flex;">
    <p class="item-title" style="align-self: center;">{{ ::$ctrl.serial }}</p>
    <div style="flex: 1;"></div>
    <button class="button button-icon icon icon-left ion-trash-b"
            ng-show="showRemoveButton"
            ng-click="$ctrl.onRemove({serial: $ctrl.serial})">
    </button>
  </div>
</ion-item>
