<div class="core-list-info content-info">

  <div class="item no-border disable-click"
       style="{{::header.style}}"
       ng-if="showHeader"
       ng-repeat="header in $ctrl.headers">
    <div class="text-value left">
      <i class="icon {{::header.icon}}"></i>
      <span style="padding-left: 5px">{{::header.title}}</span>
    </div>
    <div class="item-description" ng-if="::header.subtitle != undefined">
       <span style="padding-left: 28px">
         {{::header.subtitle}}
       </span>
    </div>
  </div>

  <div class="no-border" ng-class="{'content-with-header': showHeader}">
    <ng-transclude></ng-transclude>
  </div>

</div>
