<ion-view view-title="journeyStopUnloading" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="journeyStopUnloading.exit()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="openTaskDetails(task, null, null, { disableInteraction: true })">
      {{::'INTERPLANT.GENERIC.JOURNEY_STOP_UNLOADING_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <ion-content delegate-handle="journey-stop-unloading" ng-class="{'has-footer': hasFooter}">

    <input-editor title="INPUT_ACTIONS.SCAN_FOR_TRANSPORT"
                  callback="journeyStopUnloading.onBarcodeScan"
                  errors-definitions="errorsDef">
    </input-editor>

    <nvd3 options="chart.options" data="chart.data">
      <svg></svg>
    </nvd3>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">
    <div class="button-bar">
      <button class="button button-full button-positive" ng-click="journeyStopUnloading.unloadAll()"
              ng-show="unloadingAllButtonShow" tap-sound>
        <b>{{ 'INTERPLANT.GENERIC.JOURNEY_STOP_UNLOADING_ADD' | translate | uppercase }}</b>
      </button>
      <button class="button button-full button-positive" ng-click="journeyStopUnloading.close()"
              ng-show="closeTaskButtonShow" tap-sound>
        <b>{{ 'INTERPLANT.GENERIC.CLOSE_JOURNEY_STOP_TASK' | translate | uppercase }}</b>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
