<div class="input-editor" activation-control events-map="inputEvents">
  <form name="inputEditorForm" novalidate>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-stacked-label item-input-wrapper">
          <span class="input-label">{{title | translate}}</span>
          <input name="inputEditorValue"
                 type="{{type ? type : 'text'}}"
                 placeholder="{{ expected || (placeholder | translate) }}"
                 ng-model="ngModel"
                 ng-required="true"
                 ng-readonly="!effectiveConfig.manualInput"
                 autocomplete="off"
                 spellcheck="false"
                 ng-click="enableManualInput($event)"
                 ng-blur="disableManualInput($event)"
                 keyboard-interceptor="!effectiveConfig.manualInput">
        </label>
        <button class="button"
                ng-click="showPrompt()"
                type="button"
                ng-if="isPromptSet"
                ng-hide="effectiveConfig.manualInput"
                tap-sound>
          <i class="icon {{effectiveConfig.promptIcon}}"></i>
        </button>
        <button class="button"
                ng-click="confirmExpectedValue($event)"
                type="button"
                ng-if="effectiveConfig.autoConfirmExpected"
                ng-hide="effectiveConfig.manualInput || ngModel"
                tap-sound>
          <i class="icon {{effectiveConfig.confirmIcon}}"></i>
        </button>
      </div>
    </div>
    <div ng-messages="inputEditorForm.inputEditorValue.$error"
         class="validation-errors"
         style="color:maroon"
         role="alert"
         ng-if="inputEditorForm.$invalid">
      <div class="item item-icon-left error" ng-message="{{::genericError}}">
        <i class="icon ion-alert-circled item-icon-left"></i>{{::'WMS_ERRORS.INVALID_INPUT' | translate}}
      </div>
      <div class="item item-icon-left error" ng-message="{{::key}}"
           ng-repeat="(key, value) in errorsDefinitions track by key">
        <i class="icon ion-alert-circled"></i>{{::value}}
      </div>
    </div>
  </form>
</div>
