<ion-modal-view title="container-list">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{ ::'STOCKTAKING.MODALS.CONTAINER_LIST_TITLE' | translate | capitalize }}</h1>
    <a class="button button-clear" ng-click="closeModal()">
      <i class="icon ion-close"></i>
    </a>
  </ion-header-bar>

  <ion-content class="has-header">
    <ion-list class="core-list">
      <ion-item ng-repeat="container in containers track by container.code">
        <p class="item-title">{{ ::container.code }}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-modal-view>
