<div class="stock-info" activation-control events-map="inputEvents">

  <form name="stockForm.controller" novalidate ng-if="inputSeq.length > -1">

    <div class="input-editor">

      <div class="list">

        <div class="item item-input-inset"
             ng-repeat="inputField in inputFields"
             ng-show="currentInputIdx + 'Input' === inputField.name">

          <label class="item-stacked-label item-input-wrapper">

            <span class="input-label">{{ inputField.label | translate }}</span>

            <input name="{{ inputField.name }}"
                   type="{{ inputField.type }}"
                   placeholder="{{ inputField.inputPlaceholder }}"
                   ng-model="inputField.value"
                   ng-model-options="inputField.options"
                   ng-readonly="!configuration.manualInput"
                   autocomplete="off"
                   spellcheck="false"
                   ng-click="enableManualInput($event)"
                   ng-blur="disableManualInput($event)"
                   ng-change="inputField.onChange()"
                   keyboard-interceptor="allowKeyboardChange(inputField)">
          </label>

          <button class="button"
                  ng-click="verifyInput()"
                  type="button"
                  ng-if="!inputField.mandatory && !inputField.autoConfirm"
                  ng-hide="configuration.manualInput || inputField.value"
                  tap-sound>
            <i class="icon {{configuration.arrowIcon}}"></i>
          </button>

          <button class="button"
                  ng-click="verifyInput()"
                  type="button"
                  ng-if="inputField.autoConfirm"
                  ng-hide="configuration.manualInput || (inputField.type !== 'date' && inputField.value)"
                  tap-sound>
            <i class="icon {{configuration.confirmIcon}}"></i>
          </button>

        </div>

      </div>

      <div ng-messages="stockForm.controller.$error"
           class="validation-errors"
           style="color:maroon"
           role="alert"
           ng-if="stockForm.controller.$invalid">

        <div class="item item-icon-left error"
             ng-message="generic">
          <i class="icon ion-alert-circled item-icon-left"></i>Invalid input!
        </div>

        <div class="item item-icon-left error"
             ng-message="{{::key}}"
             ng-repeat="(key, value) in errorsDefinitions track by key">
          <i class="icon ion-alert-circled"></i>{{::value | translate}}
        </div>

      </div>

    </div>

  </form>

</div>
