<ion-modal-view title="packing-task-item-selector">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{::'MODAL.ITEM_LIST' | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i></a>
  </ion-header-bar>

  <ion-content class="has-header" delegate-handle="packing-task-item-selector" ng-switch="itemType">
    <ion-toggle ng-model="showHu"
                toggle-class="toggle-calm"
                ng-change="onHuSwitch(showHu)"
                tap-sound="toggle">
      <span>{{::'MODAL.LIST_HUS' | translate }}</span>
    </ion-toggle>

    <packing-task-item-list ng-switch-when="item"
                            items="items"
                            on-click="selectItem"
                            list-position="listPosition">
    </packing-task-item-list>

    <packing-task-hu-list ng-switch-when="hu"
                          items="items"
                          list-position="listPosition">
    </packing-task-hu-list>

  </ion-content>

</ion-modal-view>
