<ion-view view-title="moveToProduction" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="moveToProduction.handleBack()"
        ng-if="currentStep !== steps.RECAP.name" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="moveToProduction.openRecapDetails(false)">
      {{::'MOVE_TO_PRODUCTION.GENERIC.MOVE_TO_PRODUCTION_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <ion-content ng-class="{'has-footer': hasFooter}">

    <wizard name="{{::wizardName}}" hide-indicators="true" ng-show="taskLoaded">

      <!-- Confirm -->
      <wz-step wz-title="{{ ::steps.HU.name }}">
        <form class="input-scanner" ng-submit="moveToProduction.confirm()" novalidate style="margin-bottom: 24px">
          <label class="item item-input">
            <input autocomplete="off" name="inputScanner"
                   ng-model="inputModel.inputScanner"
                   ng-required="true" ng-readonly="true" ng-value="hu.code">
          </label>
        </form>
      </wz-step>

    </wizard>

  </ion-content>

  <ion-footer-bar>
    <button class="button button-full button-positive" ng-click="moveToProduction.confirm()">
      {{ 'GENERIC.CONFIRM' | translate | uppercase }}
    </button>
  </ion-footer-bar>

</ion-view>
