<ion-list class="core-list">

  <ion-item ng-if="$ctrl.items.length === 0">
    <div class="item-title">{{::'EMPTY_LIST.HU' | translate}}</div>
  </ion-item>

  <ion-item id="packing-task-item-list{{$index}}"
            ng-class="{ 'selected' : $index === $ctrl.listPosition.current }"
            ng-repeat="hu in $ctrl.items track by $index">

    <div class="item-title">{{::hu.containerCode}}</div>

  </ion-item>

</ion-list>
