<ion-modal-view class="camera" title="camera">

  <ion-header-bar class="bar bar-header process-modal-header" align-title="center">
    <h1 class="title">{{::'GENERIC.CAMERA' | translate | capitalize }}</h1>
    <div class="buttons">
      <a class="button button-clear icon ion-close" ng-click="close()"></a>
    </div>
  </ion-header-bar>

  <ion-content class="has-header camera-content" scroll="false" overflow-scroll="false"
               style="background-color: white;" delegate-handle="camera">

    <div id="webcam-block" class="row camera-block" style="padding:5; padding-top:10px;background-color: white;">

      <div id="webcam-block-placeholder" class="col" style="overflow: auto;">
        <webcam channel="camera.channel"
                on-streaming="camera.onSuccess()"
                on-error="camera.onError(err)"
                on-stream="camera.onStream(stream)"
                style="position: relative; z-index: 1;overflow: auto;"></webcam>
        <canvas ng-hide="true" id="snapshot" style="overflow: auto;"></canvas>
      </div>

    </div>

  </ion-content>

  <ion-footer-bar>

    <button class="button button-fab-center-white icon ion-camera"
            ng-click="takePicture()" tap-sound>
    </button>

    <div class="button-bar">

      <img ng-src="{{photos[photos.length - 1]}}"
           class="camera-preview-img"
           style="position: absolute; bottom: 10px;"
           ng-if="photos.length > 0" ng-click="openGallery()"/>

    </div>

  </ion-footer-bar>

</ion-modal-view>
