<ion-modal-view class="image-viewer" title="image-viewer">

  <ion-header-bar class="bar bar-header process-modal-header" align-title="center">
    <h1 class="title">{{::'GENERIC.PREVIEW' | translate | capitalize }}</h1>
    <div class="buttons">
      <a class="button button-clear icon ion-close" ng-click="close()"></a>
    </div>
  </ion-header-bar>

  <ion-content class="has-header" scroll="false" overflow-scroll="false" delegate-handle="image-viewer">
    <div class="image-viewer-container" ng-if="index > -1">
      <img ng-src="{{photos[index]}}" class="image-viewer-fullscreen"/>
    </div>
  </ion-content>

  <ion-footer-bar>
    <button class="button button-full button-positive" ng-click="delete()"
            tap-sound><b>{{ 'GENERIC.DELETE' | translate | uppercase }}</b></button>
  </ion-footer-bar>

</ion-modal-view>
