<ion-modal-view class="image-gallery" title="image-gallery">

  <ion-header-bar class="bar bar-header process-modal-header" align-title="center">
    <h1 class="title">{{::"PHOTO.GALLERY" | translate | capitalize }}</h1>
    <div class="buttons">
      <a class="button button-clear icon ion-close" ng-click="close()"></a>
    </div>
  </ion-header-bar>

  <ion-content delegate-handle="image-gallery">

    <p class="item" ng-if="photos.length === 0">{{ "PHOTO.NO_PHOTO" | translate | uppercase }}</p>

    <img ng-src="{{photo}}" style="max-height: 100px; max-width: 100px; padding: 4px"
         ng-repeat="photo in photos track by $index"
         ng-click="openViewer($index)"/>

  </ion-content>

  <ion-footer-bar>

    <button class="button button-full button-positive"
            ng-click="takePhoto()" tap-sound><b>{{ "PHOTO.TAKE_PHOTO" | translate | uppercase }}</b></button>

  </ion-footer-bar>

</ion-modal-view>
