<div class="item item-text-wrap item-button-right info-display">
  <div ng-repeat="info in $ctrl.infoArray">
    <i class="icon {{::info.icon}}"></i>&nbsp;{{::info.text}}
  </div>
  <a class="button button-clear" ng-click="$ctrl.buttonCallback()" ng-if="$ctrl.buttonEnabled" tap-sound>
    <i class="icon ion-search"></i>
  </a>
</div>
