<ion-view view-title="putawayContent" cache-view="false" hide-nav-bar="true">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="putawayContent.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">{{::'PUTAWAY.GENERIC.PUTAWAY_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="putawayContent" ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.ITEM">

        <input-editor title="INPUT_ACTIONS.SCAN_ITEM"
                      validator="itemValidator"
                      callback="putawayContent.onItemSelected">
        </input-editor>

        <content-info headers="infoHeader"></content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.COMPATIBLE_HU_LIST">
        <ion-list class="core-list">
          <putaway-compatible-containers-list selected-callback="putawayContent.onCompatibleHuSelected"
                                              compatible-hu-list="dataModel.compatibleHuList"
                                              show-quantity="Config.PREFERENCES.PUTAWAY.PARTIAL_QUANTITY">
          </putaway-compatible-containers-list>
        </ion-list>
      </lea-wizard-step>

      <lea-wizard-step config="::steps.STOCK">

        <stock-input ng-model="inputModel.tempStock"
                     stock-config="stockInputConfig"
                     callback="putawayContent.confirmStock">
        </stock-input>

        <content-info headers="infoHeader">
          <stock-reference stock="inputModel.tempStock"></stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.DESTINATION">

        <input-editor title="INPUT_ACTIONS.SCAN_SOURCE"
                      callback="putawayContent.onDestinationScan"
                      errors-definitions="errorsDef">
        </input-editor>

        <content-info headers="infoHeader">
          <stock-reference stock="dataModel.stock" ng-show="dataModel.stock !== null"></stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.DESTINATION_HU">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  selected-callback="putawayContent.onDestinationHuSelected"
                  accept-not-existent="true"
                  is-package-type-selectable="true"
                  allowed-package-list="dataModel.destinationLocation.packages"
                  check-type="SERVER">
        </hu-input>

        <content-info headers="infoHeader">
          <stock-reference stock="dataModel.stock"></stock-reference>
        </content-info>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

</ion-view>
