<ion-view view-title="stock-taking" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="stockTaking.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="stockTaking.showTaskInfo()">
      {{ ::'STOCKTAKING.GENERIC.STOCKTAKING_TASK' | translate | capitalize }}</h1>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.SCAN_LOCATION">

        <location-input title="INPUT_ACTIONS.SCAN_LOCATION"
                        placeholder="{{ locationInput.placeholder }}"
                        expected-barcodes="locationInput.barcodes"
                        allow-unexpected="false"
                        selected-callback="stockTaking.onLocationConfirmed">
        </location-input>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.SCAN_CONTAINER">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  placeholder="{{containerInput.placeholder}}"
                  allowed-containers="containerInput.allowedContainers"
                  selected-callback="stockTaking.onContainerSelected"
                  is-package-type-selectable="false"
                  config="containerInput.config">
        </hu-input>

        <content-info headers="infoHeader">
          <counted-containers containers="inputModel.countedContainers"
                              on-remove="stockTaking.removeContainer(code)">
          </counted-containers>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.SCAN_ITEM">

        <input-editor title="INPUT_ACTIONS.SCAN_ITEM"
                      validator="itemInput.validator"
                      callback="stockTaking.onItemSelected"
                      placeholder="{{itemInput.placeholder}}">
        </input-editor>

        <content-info headers="infoHeader">
          <stock-reference ng-repeat="stock in stockTaking.currentCounts()"
                           stock="stock">
          </stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.INPUT_STOCK">

        <stock-input stock-config="stockInputConfig"
                     ng-model="inputModel.stock"
                     callback="stockTaking.confirmStock">
        </stock-input>

        <content-info headers="infoHeader">
          <stock-reference stock="inputModel.stock">
          </stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.CHANGE_LOCATION">

        <stock-taking-details details="details"
                              on-click="stockTaking.onDetailSelect"
                              list-position="listPosition"
                              init-list-position="stockTaking.initListPosition">
        </stock-taking-details>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-full button-positive"
              ng-repeat="button in buttons"
              ng-click="button.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::button.step"
              on-key-press="::button.key"
              ng-show="button.condition != null ? button.condition : true"
              ng-disabled="button.disabled != null ? button.disabled : false"
              tap-sound>
        <b>{{ ::button.label | translate | uppercase }}</b>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
