<ion-modal-view title="package-type-list">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{::'MODAL.PACKAGE_TYPE' | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i> </a>
  </ion-header-bar>

  <ion-content class="has-header">

    <package-type selected-callback="huPkgType.onPackageSelection"
    			  allowed-package-list="allowedPackageList"
    			  category="category">
	</package-type>

  </ion-content>

</ion-modal-view>
