<ion-item ng-if="$ctrl.details.length === 0">
  {{::'EMPTY_LIST.NO_JOBS' | translate}}
</ion-item>

<div id="counting-by-container-details-item-list{{$index}}"
     ng-repeat="detail in $ctrl.details"
     ng-if="($ctrl.filterStatus === null || $ctrl.filterStatus === undefined) || ($ctrl.filterStatus !== null && $ctrl.filterStatus.indexOf(detail.status) > -1)"
     class="item" ng-class="{ 'selected' : $index === $ctrl.listPosition.current }"
     ng-click="$ctrl.onClick()(detail)">

  <div class="item-title">
    {{::detail.code}}
    <span class="item-status item-note">{{::'TASK_STATUS.' + detail.status | translate | uppercase}}</span>
  </div>

</div>
