<ion-modal-view title="packing-task-details">

  <ion-header-bar class="bar bar-header headerTaskDetails like-app" align-title="center">
    <h1 class="title">{{title | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()" ng-if="!hasFooter" tap-sound>
      <i class="icon ion-close"></i>
    </a>
  </ion-header-bar>

  <ion-content delegate-handle="packing-task-details" ng-class="{'has-footer': hasFooter}">

    <packing-task-info task="task"
                       details="details"
                       parcels="task.parcels"
                       list-position="listPosition"
                       disable-interaction="disableInteraction"
                       delete-parcel="packingDetail.deleteParcel">
    </packing-task-info>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">
    <button class="button button-full button-positive"
            ng-click="packingDetail.exit()"
            on-key-press="::exitKey"
            tap-sound>
      <b>{{ ::'GENERIC.EXIT' | translate | uppercase }}</b>
    </button>
  </ion-footer-bar>

</ion-modal-view>
