<progression-display title="$ctrl.task.fullName"
                     right-text="'GENERIC.TOTAL'"
                     right-value="$ctrl.task.progression.maxLimit"
                     left-text="'GENERIC.COMPLETED'"
                     left-value="$ctrl.task.progression.current"
                     background="like-app"
                     footer-values="[
                            {value: 'TASK_STATUS.' + $ctrl.task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                            {value: ($ctrl.task.executors[0]) ? $ctrl.task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'},
                            {value: $ctrl.task.countBlocked, text: 'TASK.DETAIL_MODAL.BLOCKED' }
                          ]">
</progression-display>

<packing-task-parcel-list parcels="$ctrl.parcels"
                          on-click="$ctrl.deleteParcel"
                          disable-interaction="$ctrl.disableInteraction">
</packing-task-parcel-list>

<packing-task-detail-list details="$ctrl.details"
                          list-position="$ctrl.listPosition">
</packing-task-detail-list>
