<ion-list class="info core-list">

  <ion-item class="item-remove-animate item-text-wrap">
    <div class="row">
      <div class="col">
        <item-reference item="item"></item-reference>
      </div>
    </div>
  </ion-item>

  <ion-item ng-if="phStocks.length > 0" tap-sound
            ng-repeat="phStock in phStocks track by $index"
            ng-click="resolveLocation(phStock.position.location)">
    <div class="row">
      <div class="col info-label left"
           ng-class="{'info-link':isMappedLocation(phStock)}"><b>{{::phStock.position.location}}</b></div>
      <div class="col info-value right">{{::phStock.stockQty}}</div>
    </div>
    <div class="row">
      <div class="col info-label"> {{::'GENERIC.IN' | translate | uppercase }}:&nbsp;<b>{{::phStock.inboundQty}}</b>&nbsp;-&nbsp;
        {{::'GENERIC.OUT' | translate | uppercase }}:&nbsp;<b>{{::phStock.outboundQty}}</b>
      </div>
      <div class="col"></div>
    </div>
  </ion-item>

  <ion-item ng-if="phStocks.length < 1 && !loading">
    <div class="row">
      <div class="col">{{::'GENERIC.NO' | translate}}&nbsp;{{::'RESOURCE.STOCK' | translate}}</div>
    </div>
  </ion-item>

</ion-list>
