<ion-list class="core-list">

  <ion-item ng-if="details.length === 0">
    <div class="item-title">{{::'EMPTY_LIST.ITEM_COUNTED' | translate}}</div>
  </ion-item>

  <ion-item id="packing-task-details-item-list{{$index}}"
            ng-class="{ 'selected' : $index === $ctrl.listPosition.current }"
            ng-repeat="detail in $ctrl.details track by $index"
            ng-click="$ctrl.onClick()(detail)">

    <div class="item-title">{{::detail.item.itemNumber}}</div>

    <div class="item-description">{{::detail.item.shortDescription}}
      <span class="item-note">
        <b>{{detail.packedQt}}</b>/{{::detail.requestedQt}}
      </span>
    </div>

  </ion-item>

</ion-list>
