<ion-list class="core-list">
  <ion-item id="{{ ::itemPrefix }}{{ $index }}"
            ng-class="{ 'selected' : $index === listPosition.current }"
            ng-repeat="distinct in $ctrl.values track by distinct"
            ng-click="$ctrl.onClick()(distinct)"
            tap-sound>
    <div class="item-title">{{ ::$ctrl.loadDistinct(distinct) }}</div>
  </ion-item>
</ion-list>
