<ion-view view-title="freight" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="freight.exit()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="openTaskDetails(task, null, null, { disableInteraction: true })">
      {{::'SHIPMENT.GENERIC.FREIGHT_LOADING_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <ion-content delegate-handle="freight-loading-task" ng-class="{'has-footer': hasFooter}">

    <input-editor title="INPUT_ACTIONS.SCAN_PARCEL"
                  callback="freight.onBarcodeScan"
                  errors-definitions="errorsDef">
    </input-editor>

    <nvd3 options="options" data="data">
      <svg></svg>
    </nvd3>

  </ion-content>

</ion-view>
