<ion-view view-title="replenishement-task" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="replenishment.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="openTaskDetails(task, taskInfo, null, { disableInteraction: true })" tap-sound>
      {{::'REPLENISHMENT.GENERIC.REPLENISHMENT_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content ng-class="{'has-footer': hasFooter, 'has-actionbar': hasSubheader}"
               delegate-handle="replenishement-task">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <!-- Scan HU -->
      <lea-wizard-step config="::steps.SCAN_HU">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  placeholder="{{taskDetail.positionRef.containerCode}}"
                  selected-callback="replenishment.onHuSelected"
                  allowed-containers="allowedContainers"
                  accept-not-existent="false">
        </hu-input>

      </lea-wizard-step>

      <!-- Scan Location -->
      <lea-wizard-step config="::steps.SCAN_LOC">

        <location-input selected-callback="replenishment.onLocationSelected"
                        expected-barcodes="taskDetail.nextLocationBarcode"
                        allow-unexpected="false"
                        title="INPUT_ACTIONS.SCAN_LOCATION"
                        placeholder="{{taskDetail.nextPosition.location}}">
        </location-input>

      </lea-wizard-step>

      <!-- Select Detail -->
      <lea-wizard-step config="::steps.DETAILS">

        <ion-list class="core-list">
          <replenishment-details-item-list details="taskDetails"
                                           list-position="listPosition"
                                           filter-status="['TODO']"
                                           on-click="replenishment.onDetailSelected">
          </replenishment-details-item-list>
        </ion-list>

      </lea-wizard-step>

    </lea-wizard>

    <content-info ng-show="showInfo" headers="headerFrom"></content-info>
    <content-info ng-show="showInfo" headers="headerTo"></content-info>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">

    <button class="button button-full button-positive"
            wizard-button="::wizardCtrl"
            button-enabled="::buttons.CHANGE_DETAIL.step"
            on-key-press="::buttons.CHANGE_DETAIL.key"
            ng-show="buttons.CHANGE_DETAIL.show"
            ng-click="buttons.CHANGE_DETAIL.click()"
            tap-sound>
      <b>{{ 'GENERIC.CHANGE_JOB' | translate | uppercase }}</b>
    </button>

  </ion-footer-bar>

</ion-view>
