<ion-side-menus enable-menu-with-back-views="false">
  <!-- CONTENT -->
  <ion-side-menu-content>
    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar animation="none">
      <!-- back button, shown if applicable
      <ion-nav-back-button class="button icon-left ion-chevron-left button-clear button-light" tap-sound> -
      </ion-nav-back-button>-->
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <a class="button button-icon ion-navicon" menu-toggle="left" tap-sound></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent" animation="none">
    </ion-nav-view>
  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left" class="side-menu">
    <!-- menu header -->
    <ion-header-bar>
      <p class="site-name" style="text-align:left; padding-left:10px;">{{site.code}}&nbsp;-&nbsp;{{site.name}}</p>
    </ion-header-bar>

    <div menu-close class="bar bar-subheader item item-icon-right info-section">
      <p class="user-info"> {{user.userName}}</p>
      <a ng-click="menuCtrl.logout()" class="logout" tap-sound>
        <i class="icon ion-android-exit"></i>
      </a>
    </div>

    <!-- menu content -->
    <ion-content class="menu-content has-subheader">

      <ion-list class="sideMenuList">

        <ion-item class="menu-item"
                  ng-if="menu.state.length > 0"
                  ng-repeat="menu in menuList"
                  ng-click="menuCtrl.onSelection(menu)"
                  in-role="menu.roles"
                  menu-close
                  tap-sound>
          <span class="processName">
            {{ ::menu.label | translate }}
          </span>
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-side-menu>

</ion-side-menus>
