<ion-item ng-if="$ctrl.transportUnits.length === 0">
  {{::'EMPTY_LIST.NO_JOBS' | translate}}
</ion-item>

<ion-item id="tu-list{{$index}}" ng-repeat="tu in $ctrl.transportUnits"
          ng-class="{ 'selected' : $index === $ctrl.listPosition.current }">
    <div class="item-title">{{$ctrl.getListItem(tu.transportUnit)}}</div>
    <span class="item-status item-note" >{{ :: 'INTERPLANT.STATUS.'+ (tu.transportUnit.currentJourney.id === undefined ? 'UNLOADED' : 'TO_UNLOAD') | translate | uppercase}}</span>
</ion-item>
