<content-info headers="headers">
  <div class="wms-card">
    <div class="wms-card-content">
      <div class="content-icon">
        <i class="icon wms-icon-ico-articolo"></i>
      </div>
      <div>
        <item-reference item="$ctrl.detail.item"></item-reference>
        <div ng-if="$ctrl.detailItemTotals">{{::'PICKING.GENERIC.IN_TASK' | translate}}: {{$ctrl.detailItemTotals.pickedQty}} / {{$ctrl.detailItemTotals.totalQty}}</div>
        <production-info ng-if="$ctrl.detailConfig"
                         production-info="$ctrl.detail.expectedProdInfo"
                         hide-lot-id="$ctrl.detailConfig.lotMandatory  === false"
                         hide-made-in="$ctrl.detailConfig.madeInMandatory  === false"
                         hide-expiry-date="$ctrl.detailConfig.expiryDateMandatory  === false"
                         hide-production-date="$ctrl.detailConfig.productionDateMandatory  === false"
                         hide-version-info="$ctrl.detailConfig.versionInfoMandatory  === false">
        </production-info>
        <div class="col">
          <a ng-if="$ctrl.detail.notes" ng-click="$ctrl.openNotesModal($ctrl.detail)" tap-sound>
            <p style="width: 50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{$ctrl.detail.notes}}</p>
          </a>
        </div>
      </div>
      <div class="text-value right-content">
        <div class="text-value" ng-if="!showPickedInfo">
          {{$ctrl.detail.residualQty}}
        </div>

        <div class="text-value" ng-if="showPickedInfo">
          {{$ctrl.stock.quantity || '0'}} / {{$ctrl.detail.residualQty}}
        </div>
      </div>
    </div>
  </div>
</content-info>
