<ion-view view-title="picking-partial" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="pickingPartial.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="openTaskDetails(task, taskInfo, null, { disableInteraction: true })">
      {{::'PICKING.GENERIC.PICKING_PARTIAL' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="picking-partial" ng-class="{'has-footer': hasFooter, 'has-actionbar': hasSubheader}">

    <wizard name="{{::wizardName}}" hide-indicators="true" ng-if="taskLoaded">

      <wz-step wz-title="{{::steps.HU.name}}" wz-disabled="{{!taskConfig.huInputEnabled}}">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  placeholder="{{placeholderHU}}"
                  allowed-containers="validation.openContainer"
                  accept-not-existent="true"
                  check-type="SERVER"
                  validation-fn="pickingPartial.huCheckCondition"
                  is-package-type-selectable="taskConfig.packageTypeInputEnabled"
                  default-package-type="taskConfig.defaultPackageType"
                  selected-callback="pickingPartial.onHuSelected">
        </hu-input>
        <a ng-if="headerNotes">
          <p class="item-title" style="padding: 0 0 0 10px;margin: 20px;">{{headerNotes}}</p>
        </a>

      </wz-step>

      <wz-step wz-title="{{::steps.ALLOCATION.name}}">

        <input-editor title="{{allocationMode.title}}"
                      callback="pickingPartial.onAllocationScan"
                      errors-definitions="allocationErrorsDef">
        </input-editor>

      </wz-step>

      <wz-step wz-title="{{::steps.ITEM.name}}">

        <input-editor title="{{serialNeeded ? 'INPUT_ACTIONS.SCAN_SERIAL' : 'INPUT_ACTIONS.SCAN_ITEM'}}"
                      placeholder="{{serialNeeded ? null : taskDetail.item.itemNumber}}"
                      callback="pickingPartial.onItemSelected"
                      validator="serialItemValidator">
        </input-editor>

      </wz-step>

      <!-- Stock Input -->
      <wz-step wz-title="{{::steps.STOCK.name}}" wz-disabled="{{autoScanMode}}">

        <stock-input stock-config="stockInputConfig"
                     callback="pickingPartial.confirmStock">
        </stock-input>

      </wz-step>

      <wz-step wz-title="{{::steps.DESTINATION.name}}">

        <location-input title="INPUT_ACTIONS.SCAN_LOCATION"
                        allow-unexpected="true"
                        selected-callback="pickingPartial.onDestinationSelected"
                        default-value="validation.suggestedDestination"
                        config="steps.DESTINATION.locationConfig">
        </location-input>

      </wz-step>

      <wz-step wz-title="{{::steps.DETAILS.name}}">

        <ion-list class="core-list">

          <picking-task-details-item-list details="taskDetails"
                                          hide-item="false"
                                          on-click="pickingPartial.onDetailSelected"
                                          list-position="listPosition">
          </picking-task-details-item-list>

      </wz-step>

    </wizard>

    <recap-picking-info ng-show="showFromInfo"
                        detail="taskDetail"
                        detail-config="taskDetailConfig"
                        detail-item-totals="taskItemTotals"
                        stock="pickingModel.pickedStock"
                        stock-config="pickingInfo">
    </recap-picking-info>

    <content-info ng-show="showToInfo">

      <div class="item item-divider text-value left" ng-if="pickingModel.activeContainer.code">
        <i class="icon wms-icon-ico-hu"></i>&nbsp;&nbsp;{{ pickingModel.activeContainer.code + ' (' +
        pickingModel.activeContainer.packageType.type + ')'}}
      </div>

    </content-info>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">

    <div class="button-bar">

      <button class="button button-full button-positive"
              ng-if="showChangeDetailBtn"
              ng-click="pickingPartial.changeDetail()"
              tap-sound>
        <b>{{ 'GENERIC.CHANGE_JOB' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showMissingStockBtn"
              ng-click="pickingPartial.missingStock()"
              tap-sound>
        <b>{{ 'PICKING.BUTTONS.MISSING_STOCK' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showConfirmHUBtn"
              ng-click="pickingPartial.confirmHUStep()"
              tap-sound>
        <b>{{ 'TASK.CLOSE_HU' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showConfirmCountBtn"
              ng-click="pickingPartial.confirmCount()"
              tap-sound>
        <b>{{ 'GENERIC.CONFIRM' | translate | uppercase }}</b>
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
