<ion-list class="info core-list">

  <!-- M01-5327545-EE -->
  <ion-item class="item-remove-animate ">
    <div class="row">
      <div class="col info-value-left">{{location.fullLocation || location.label}}</div>
      <div class="col"></div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate">
    <div class="row">
      <div class="col info-label">{{'GENERIC.TYPE' | translate }}</div>
      <div class="col info-value">{{location.locationType.name}}</div>
    </div>
    <div class="row">
      <div class="col info-label">{{'RESOURCE.ZONE' | translate }}</div>
      <div class="col info-value">{{location.zone}}</div>
    </div>
    <div class="row">
      <div class="col info-label">{{'MAP.FREE_PLACES' | translate}}</div>
      <div class="col info-value">{{location.freePlaces}}</div>
    </div>
  </ion-item>

  <ion-item ng-if="hus.length > 0">
    <div class="row">
      <div class="col info-label">{{'RESOURCE.HU' | translate | uppercase }}</div>
      <div class="col info-value">{{hus.length}}</div>
    </div>
  </ion-item>

  <ion-item ng-show="phStocks.length > 0" ng-repeat="phStock in phStocks" tap-sound>

    <div class="row">
      <div class="col">
        <item-reference item="phStock.stock.item"
                        link-style="true"
                        on-click="resolveItem(phStock.stock.item.itemNumber, phStock.stock.item.company)">
        </item-reference>
      </div>
      <div class="col info-value">{{phStock.stock.quantitySum}}</div>
    </div>

    <production-info ng-if="phStock.stock.productionInfo != null"
                     production-info="phStock.stock.productionInfo">
    </production-info>

    <accounting-info ng-if="phStock.stock.accountingInfo !== null"
                     accounting-info="phStock.stock.accountingInfo">
    </accounting-info>

  </ion-item>

</ion-list>

