<ion-view view-title="packing" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">

    <a class="button button-clear button-positive" ng-click="packing.handleBack()" ng-if="!recapStep" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>

    <h1 class="title" ng-click="packing.openTaskInfo()" tap-sound>
      {{::'PACKING.GENERIC.PACKING_TASK' | translate | capitalize}}
    </h1>

    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>

  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="actionMessage"></action-bar>
  </div>

  <ion-content ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.DISTINCT_PACK_SELECTION">

        <distinct-pack-list values="model.distinctPackValues"
                            on-click="packing.selectDistinctPack">
        </distinct-pack-list>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.RESOURCE_SELECTION">

        <input-editor title="{{resourceTitle}}"
                      validator="resourceValidator"
                      callback="packing.onResourceSelected"
                      config="resourceConfig">
        </input-editor>

        <content-info ng-hide="model.taskConfig.mode === 'PICK_PACK'"
                      headers="infoHeader">
          <stock-reference ng-repeat="composition in model.composition"
                           ng-if="model.composition.length > 0"
                           stock="composition.stock">
          </stock-reference>
        </content-info>

        <packing-task-hu-list items="hus"
                              ng-show="model.taskConfig.mode === 'PICK_PACK'"
        ></packing-task-hu-list>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.PROD_INFO_INPUT">

        <stock-input ng-model="model.stock"
                     stock-config="prodInfoInputConfig"
                     callback="packing.confirmProductionInfo">
        </stock-input>

        <content-info headers="infoHeader">
          <stock-reference stock="model.stock"></stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.QUANTITY_INPUT">

        <stock-input ng-model="model.stock"
                     stock-config="quantityInputConfig"
                     callback="packing.confirmStock">
        </stock-input>

        <content-info headers="infoHeader">
          <stock-reference stock="model.stock"></stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.PACKAGE_SELECTION">

        <package-type selected-callback="packing.onPackageSelected"
                      category="allowedPackageCategories">
        </package-type>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.PHYSICAL_INPUT">

        <packing-physical-attributes ng-model="physicalAttributesModel"
                                     config="physicalAttributesConfig">
        </packing-physical-attributes>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.RECAP">

        <packing-task-info task="model.task"
                           details="model.details"
                           parcels="model.task.parcels"
                           disable-interaction="true">
        </packing-task-info>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar>

    <div class="button-bar">

      <button class="button button-full button-positive"
              ng-repeat="(key, config) in buttons"
              ng-click="config.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::config.step"
              on-key-press="::config.key"
              ng-disabled="config.disable != null ? config.disable : false"
              tap-sound>
        <b>{{ ::config.label | translate | uppercase }}</b>
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
