<ion-view view-title="putawayContainer" cache-view="false" hide-nav-bar="true">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="putawayContainer.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">{{::'PUTAWAY.GENERIC.PUTAWAY_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="putawayContainer" ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.PARTIAL_LOCATION">

        <input-editor title="INPUT_ACTIONS.SCAN_LOCATION"
                      callback="putawayContainer.onPartialLocationScan"
                      errors-definitions="errorsDef">
        </input-editor>

        <content-info headers="infoHeader"></content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.DESTINATION">

        <input-editor title="INPUT_ACTIONS.SCAN_LOCATION"
                      callback="putawayContainer.onDestinationScan"
                      errors-definitions="errorsDef">
        </input-editor>

        <content-info headers="infoHeader"></content-info>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

</ion-view>
