<ion-list class="core-list">

  <ion-item ng-if="$ctrl.loaded && $ctrl.tasks.length === 0">
    <span>No {{::$ctrl.taskInfo.label}} task found</span>
  </ion-item>

  <ion-item id="tasks-list-item{{$index}}"
            class="item-remove-animate item-icon-right item-text-wrap"
            ng-repeat="task in $ctrl.tasks track by task.id"
            ng-class="{
              'selected' : listPosition.current ===  $index,
              'disable-click': !$ctrl.taskInfo.enableSelection
            }">

    <p ng-click="task.status === 'BLOCKED' || $ctrl.openTask(task)" tap-sound>
      <span class="item-title" style="{{(task.status === 'BLOCKED' ? 'color: grey !important;' : '')}}">{{::task.fullName}}</span>
      <span class="item-description"
            ng-if="$ctrl.taskInfo.description && (!$ctrl.taskInfo.showBlocked || task.countBlocked === 0)">
        {{::$ctrl.taskInfo.description | interpolate:task }}
      </span>
      <span class="item-description" ng-if="$ctrl.taskInfo.showBlocked === true  && task.countBlocked != 0">
        {{::$ctrl.taskInfo.description | interpolate:task }} - ({{::task.countBlocked}} {{::'GENERIC.BLOCKED' | translate}})
      </span>
      <span class="item-status bold"
            style="{{(task.status === 'BLOCKED' ? 'color: grey !important;' : '')}}">
        {{::'TASK_STATUS.' + task.status | translate | uppercase}}&nbsp;-&nbsp;{{::task.progression.percent}}%
      </span>
    </p>
    <span class="item-status"
          ng-click="$ctrl.onDetailSelection()(task, $ctrl.taskInfo)"
          ng-if="$ctrl.taskInfo.enableDetails" tap-sound>
      <i class="icon ion-android-more-vertical ionicIcon"></i>
    </span>

  </ion-item>

</ion-list>

<ion-infinite-scroll ng-if="$ctrl.canLoadMoreData"
                     on-infinite="$ctrl.onLoadMore()"
                     immediate-check="false">
</ion-infinite-scroll>
