<ion-list class="info core-list">

  <div ng-if="isList">
    <ion-item class="item-remove-animate"
              ng-repeat="item in item track by $index"
              ng-click="showInfoCallback()('item', item)">
      <div class="row">
        <div class="col">
          <item-reference item="item" hide-description="true" link-style="false"></item-reference>
        </div>
      </div>
    </ion-item>
  </div>

  <div ng-if="!isList">
    <ion-item class="item-remove-animate" style="pointer-events: none;">
      <div class="row">
        <div class="col">
          <item-reference item="item" hide-description="false" link-style="false"></item-reference>
        </div>
      </div>
    </ion-item>

    <ion-item class="item-remove-animate" style="pointer-events: none;">
      <div class="row">
        <div class="col info-label">{{ ::'GENERIC.TYPE' | translate }}</div>
        <div class="col info-value">{{item.itemType}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.traceabilityName">
        <div class="col info-label">{{ ::'INFO.TRACEABILITY' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.traceabilityName}}</div>
      </div>
      <div class="row" ng-if="item.barcode || item.barcodes">
        <div class="col info-label">{{ ::'RESOURCE.BARCODE' | translate }}</div>
        <div class="col info-value">
          <span class="info-value" ng-if="!item.barcodes || item.barcodes.length === 0">{{item.barcode}}<br/></span>
          <span ng-repeat="barcode in item.barcodes" class="info-value">{{barcode.barcode}}<br/></span>
        </div>
      </div>
    </ion-item>

    <ion-item class="item-remove-animate" ng-if="resolvedAttributes.defaultPackaging" style="pointer-events: none;">
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.palletType">
        <div class="col info-label">{{ ::'INFO.PALLET_TYPE' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.palletType.packageType.type}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.palletQty">
        <div class="col info-label">{{ ::'INFO.PALLET_QTY' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.palletQty | number}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.layerQty">
        <div class="col info-label">{{ ::'INFO.LAYER_QTY' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.layerQty | number}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.outerType">
        <div class="col info-label">{{ ::'INFO.OUTER_TYPE' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.outerType.packageType.type}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.outerQty">
        <div class="col info-label">{{ ::'INFO.OUTER_QTY' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.outerQty | number}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.innerUnit">
        <div class="col info-label">{{ ::'INFO.INNER_QTY' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.innerUnit | number}}</div>
      </div>
      <div class="row" ng-if="resolvedAttributes.defaultPackaging.unitQuantity">
        <div class="col info-label">{{ ::'INFO.UNIT_QTY' | translate }}</div>
        <div class="col info-value">{{resolvedAttributes.defaultPackaging.unitQuantity | number}}</div>
      </div>
    </ion-item>

    <ion-item ng-if="item.image && item.image.uuid.length > 0" class="item-remove-animate"
              style="pointer-events: none;">
      <div class="row">
        <div class="col"><img ng-src="{{objectURL}}"></div>
      </div>
    </ion-item>

  </div>

</ion-list>
