<ion-view view-title="login" hide-nav-bar="true">

  <ion-content class="page-style-blue padding">

    <div class="login-page">
      <form name="loginForm" class="login-form" ng-submit="login.doLogin()">
        <h2 style="margin-bottom: 18px">{{version.name}}</h2>
        <input type="text" name="username" placeholder="{{ 'AUTH.USERNAME'| translate }}" focus-me="true"
               autocomplete="username"
               ng-model="credentials.username" ng-required="true" next-on-enter>
        <input type="password" name="password" placeholder="{{ 'AUTH.PASSWORD'| translate }}"
               autocomplete="current-password"
               ng-model="credentials.password" ng-required="true">
        <select name="languages" id="languages" ng-required="true" ng-change="login.changeLocale()"
                ng-options="language.name for language in languages track by language.code"
                ng-model="credentials.language"></select>
        <button id="login-button" type="submit" class="button" ng-disabled="loginForm.$invalid" tap-sound>
          {{ 'AUTH.LOGIN'| translate }}
        </button>
        <span class="wrap"
              style="position: relative; bottom: -15px;">
          Version {{version.number}} - {{version.commit}}
        </span>
      </form>
    </div>

  </ion-content>

</ion-view>
