<ion-item ng-if="taskDetails.length === 0">
  <div class="item-title">{{::'EMPTY_LIST.ITEM_COUNTED' | translate}}</div>
</ion-item>

<ion-item id="counting-task-details-item-list{{$index}}"
          ng-class="{ 'selected' : $index === $ctrl.listPosition.current }"
          ng-repeat="taskDetail in $ctrl.taskDetails track by $index"
          ng-click="$ctrl.onClick()(taskDetail)">

  <div class="item-title">{{::taskDetail.stock.item.itemNumber}}</div>

  <div class="item-description item-text-wrap">{{::taskDetail.stock.item.shortDescription}}
    <span class="item-note"><b>{{::taskDetail.confirmedQty}}</b>/{{::taskDetail.expectedQty}}</span>
    <div
      ng-if="$ctrl.withImage === true && taskDetail.stock.item.image != null && taskDetail.stock.item.image.uuid.length > 0">
      <img ng-init="$ctrl.getObjectURL(taskDetail.stock.item.image.uuid, $index)" ng-src="{{::objectURL[$index]}}">
    </div>
  </div>

</ion-item>
