<ion-view view-title="counting-task" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" tap-sound>INPUT MOCK</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar bar-subheader item-icon-right">
    <h1 class="title">SAMPLE</h1>
    <span tap-sound>
      <i class="icon ion-android-more-vertical" ng-click="reset()"></i>
    </span>
  </div>

  <ion-content class="has-subheader" ng-class="{'has-footer': false}">

    <!--input-editor title="Test"
                  value="model.data"
                  errors="model.errors"
                  errors-definitions="errorsDef"
                  delegate-handle="input-handle">
    </input-editor-->
    <hu-input title="Test"
        validation-fn="verifyHu"
        accept-not-existent="true"
        check-type="SERVER"
        selected-callback="callbackHu"
        delegate-handle="hu-delegate">
    </hu-input>

  </ion-content>

</ion-view>
