<ion-view view-title="mock" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" tap-sound>MOCK</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar bar-subheader item-icon-right">
    <h1 class="title">SAMPLE</h1>
    <span tap-sound>
      <i class="icon ion-android-more-vertical" ng-click="reset()"></i>
    </span>
  </div>

  <ion-content class="has-subheader" delegate-handle="counting-task" ng-class="{'has-footer': false}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.FIRST">
        <p>First step!</p>
      </lea-wizard-step>

      <lea-wizard-step config="::steps.SECOND">
        <p>Second step!</p>
      </lea-wizard-step>

      <lea-wizard-step config="::steps.THIRD">
        <p>Third step!</p>
      </lea-wizard-step>

      <lea-wizard-step config="::steps.FOURTH">
        <p>Fourth step!</p>
      </lea-wizard-step>

    </lea-wizard>

    <ion-toggle ng-model="model.completeWizard" toggle-class="toggle-calm">Complete wizard</ion-toggle>

  </ion-content>

  <ion-footer-bar>

    <div class="button-bar">

      <button class="button button-full button-positive"
              ng-click="nextStep()"
              tap-sound>
        <b>NEXT</b>
      </button>

      <button class="button button-full button-positive"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.COMMON.steps"
              tap-sound>
        <b>COMMON</b>
      </button>

      <button class="button button-full button-positive"
              ng-click="buttons.SECOND.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.SECOND.step"
              on-key-press="::buttons.SECOND.key"
              ng-hide="true"
              tap-sound>
        <b>SECOND</b>
      </button>

      <button class="button button-full button-positive"
              ng-click="buttons.THIRD.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.THIRD.step"
              on-key-press="::buttons.THIRD.key"
              tap-sound>
        <b>THIRD</b>
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
