<ion-modal-view title="picking-task-notes">

  <ion-header-bar class="bar bar-header headerTaskDetails like-app" align-title="center">
    <h1 class="title">{{'PICKING.GENERIC.DETAILS_NOTES' | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()" tap-sound><i class="icon ion-close"></i></a>
  </ion-header-bar>

  <ion-content>

    <ion-list class="core-list">
        
        <p ng-repeat="note in notesList" id="picking-notes-list{{$index}}" class="item-title" style="padding: 0 0 0 10px;margin: 20px;">
           - {{note}}
        </p>

    </ion-list>

  </ion-content>

</ion-modal-view>
