<ion-modal-view title="picking-task-details">

  <ion-header-bar class="bar bar-header headerTaskDetails like-app" align-title="center">
    <h1 class="title">{{title | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()" ng-if="!hasFooter" tap-sound><i class="icon ion-close"></i></a>
  </ion-header-bar>

  <ion-content delegate-handle="picking-task-details" ng-class="{'has-footer': hasFooter}">

    <progression-display title="task.fullName"
                         right-text="'GENERIC.TOTAL'"
                         right-value="task.progression.maxLimit"
                         left-text="'GENERIC.COMPLETED'"
                         left-value="task.progression.current"
                         background="like-app"
                         footer-values="[
                            {value: 'TASK_STATUS.' + task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                            {value: (task.executors[0]) ? task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'},
                            {value: task.countBlocked, text: 'TASK.DETAIL_MODAL.BLOCKED' }
                          ]">
    </progression-display>

    <ion-list class="core-list">
      <picking-task-details-item-list details="details"
                                      hide-item="isWhole"
                                      move-bottom="DONE"
                                      list-position="listPosition">
      </picking-task-details-item-list>
    </ion-list>

  </ion-content>
  <ion-footer-bar ng-if="hasFooter">

    <button class="button button-full button-positive"
            ng-click="pickingDetail.exit()" tap-sound><b>{{ 'GENERIC.EXIT' | translate | uppercase }}</b>
    </button>

  </ion-footer-bar>

</ion-modal-view>
