<ion-view view-title="change-package-type" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">

    <a class="button button-clear button-positive" ng-if="!firstStep"
       ng-click="changePackageType.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>

    <a class="button button-clear" menu-toggle="left" style="display: block;" ng-if="firstStep" tap-sound>
      <i class="icon ion-navicon"></i>
    </a>

    <h1 class="title">
      {{:: 'CHANGE_PACKAGE_TYPE.GENERIC.CHANGE_PACKAGE_TYPE' | translate | capitalize}}
    </h1>

    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>

  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="actionMessage"></action-bar>
  </div>

  <ion-content ng-class="{'has-actionbar': hasSubheader, 'has-footer': hasFooter}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.SCAN_HU">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  check-type="SERVER"
                  accept-not-existent="false"
                  selected-callback="changePackageType.onSourceScan">
        </hu-input>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.PACKAGE_RECAP">

        <div class="row">
          <div class="col">
            <div class="text-value">Type, Base Type</div>
            <div class="text-value">Length</div>
            <div class="text-value">Width</div>
            <div class="text-value">Rigid</div>
            <div class="text-value">Tare</div>
            <div class="text-value">Used Places</div>
          </div>
          <div class="col">
            <div class="text-value" style="font-weight: normal; text-align:left">{{foundHU.packageType.type + ', ' + foundHU.packageType.baseType}}</div>
            <div class="text-value" style="font-weight: normal; text-align:left">{{changePackageType.evaluateString(foundHU, 'packageType.len')}}</div>
            <div class="text-value" style="font-weight: normal; text-align:left">{{changePackageType.evaluateString(foundHU, 'packageType.width')}}</div>
            <div class="text-value" style="font-weight: normal; text-align:left">{{changePackageType.evaluateString(foundHU, 'packageType.rigid')}}</div>
            <div class="text-value" style="font-weight: normal; text-align:left">{{changePackageType.evaluateString(foundHU, 'packageType.tare')}}</div>
            <div class="text-value" style="font-weight: normal; text-align:left">{{changePackageType.evaluateString(foundHU, 'packageType.usedPlaces')}}
            </div>
          </div>
        </div>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.PACKAGE_SELECTION">

        <package-type selected-callback="changePackageType.onPackageSelected"
                      category="allowedPackageCategories">
        </package-type>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar ng-show="hasFooter">

    <div class="button-bar">

      <button class="button button-full button-positive"
              wizard-button="::wizardCtrl"
              ng-click="buttons.CHANGE_PACKAGE.click()"
              button-enabled="::buttons.CHANGE_PACKAGE.step"
              on-key-press="::buttons.CHANGE_PACKAGE.key"
              tap-sound>
        {{ 'GENERIC.CHANGE_PACKAGE_TYPE' | translate | uppercase }}
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
