<ion-list class="core-list">
  <ion-item ng-repeat="detail in $ctrl.details" ng-click="$ctrl.onSelect()(detail)">
    <extended-production-info production-info="detail.stock.productionInfo">
    </extended-production-info>
    <accounting-info accounting-info="detail.stock.accountingInfo">
    </accounting-info>
  </ion-item>
</ion-list>
