<ion-view view-title="counting-task" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="counting.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="counting.openTaskInfo({ disableInteraction: true })" tap-sound>
      {{::'COUNTING.GENERIC.COUNTING_MONO_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="counting-task" ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.LOCATION">

        <location-input selected-callback="counting.onLocationSelected"
                        title="INPUT_ACTIONS.SCAN_LOCATION"
                        allow-unexpected="true">
        </location-input>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.HU">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  selected-callback="counting.onHuSelected"
                  is-package-type-selectable="taskConfig.packageTypeInputEnabled"
                  default-package-type="taskConfig.defaultPackageType"
                  category="::packageCategories"
                  validation-fn="counting.verifyHu"
                  accept-not-existent="true"
                  check-type="SERVER"
                  regexp-validation="Config.PREFERENCES.HU_INPUT.CONTAINER_REGEXP">
        </hu-input>

        <content-info headers="countHeaders"></content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.PKGTYPE">

        <package-type selected-callback="counting.onSelectPackageType"
                      category="::packageCategories">
        </package-type>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.ITEM">

        <input-editor title="INPUT_ACTIONS.SCAN_ITEM_OR_SERIAL"
                      validator="serialItemValidator"
                      callback="counting.onItemSelected"
                      config="itemConfig"
                      expected="itemDefault">
        </input-editor>

        <content-info headers="countHeaders">
          <stock-reference ng-repeat="stock in dataModel.stocks"
                           ng-if="dataModel.stocks.length > 0"
                           stock="stock"
                           total="stock.totalQty">
            <stock-action prop="qualityCheckAction" enabled="false"></stock-action>
            <div class="wms-card-icon-actions">
              <stock-action prop="cameraAction"></stock-action>
              <stock-action prop="deleteAction"></stock-action>
            </div>
          </stock-reference>
        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.DETAIL">

        <counting-task-detail-selection details="compatibleDetails" on-select="counting.selectDetail">
        </counting-task-detail-selection>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.QUALITY_CHECK">

        <quality-check-selection values="qualityStatusReasons"
                                 stock="dataModel.stock"
                                 on-click="counting.selectQualityStatus">
        </quality-check-selection>

      </lea-wizard-step>

      <!-- Stock Input -->
      <lea-wizard-step config="::steps.STOCK">

        <stock-input ng-model="dataModel.stock"
                     stock-config="stockInputConfig"
                     callback="counting.confirmStock"
                     on-change="counting.stockChange">
        </stock-input>

        <content-info headers="countHeaders">
          <stock-reference stock="dataModel.stock">
            <!--<stock-action prop="qualityCheckAction"
                          enabled="!disableQualityCheck">
            </stock-action>-->
            <stock-action prop="qualityCheckAction"
                          enabled="false">
            </stock-action>
            <div class="wms-card-icon-actions">
              <stock-action prop="cameraAction">
              </stock-action>
            </div>
          </stock-reference>
        </content-info>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-full button-positive"
              ng-click="buttons.CONFIRM_TASK.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.CONFIRM_TASK.step"
              on-key-press="::buttons.CONFIRM_TASK.key"
              ng-show="buttons.CONFIRM_TASK.condition"
              tap-sound>
        <b>{{ 'TASK.CONFIRM_TASK' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-click="buttons.CONFIRM_COUNT.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.CONFIRM_COUNT.step"
              on-key-press="::buttons.CONFIRM_COUNT.key"
              ng-show="buttons.CONFIRM_COUNT.condition"
              tap-sound>
        <b>{{ buttons.CONFIRM_COUNT.label | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-click="buttons.CHANGE_LOCATION.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.CHANGE_LOCATION.step"
              on-key-press="::buttons.CHANGE_LOCATION.key"
              ng-show="buttons.CHANGE_LOCATION.condition"
              tap-sound>
        <b>{{ 'GENERIC.CHANGE_LOCATION' | translate | uppercase }}</b>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
