<ion-view view-title="counting-task" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="countingMultiHU.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="countingMultiHU.openTaskInfo({ disableInteraction: true })" tap-sound>
      {{::'COUNTING.GENERIC.COUNTING_MULTI_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="counting-task" ng-class="{'has-footer': hasFooter, 'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <!-- Item scanning -->
      <lea-wizard-step config="::steps.ITEM" ng-init="iiConfig={promptCallback:countingMultiHU.openDetailsList}">

        <input-editor title="INPUT_ACTIONS.SCAN_ITEM"
                      validator="itemValidator"
                      callback="countingMultiHU.onItemSelected"
                      config="iiConfig">
        </input-editor>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.DETAIL">

        <counting-task-detail-selection details="compatibleDetails" on-select="countingMultiHU.selectDetail">
        </counting-task-detail-selection>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.STOCK">

        <stock-input stock-config="stockInputConfig"
                     ng-model="dataModel.stock"
                     callback="countingMultiHU.confirmStock">
        </stock-input>

        <content-info headers="countHeaders">

          <stock-reference stock="dataModel.stock">
            <stock-action prop="qualityCheckAction"
                          enabled="!disableQualityCheck">
            </stock-action>
            <div class="wms-card-icon-actions">
              <stock-action prop="cameraAction">
              </stock-action>
            </div>
          </stock-reference>

        </content-info>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.HU">

        <hu-input
          title="{{containers.compatibles.length > 0 ? 'INPUT_ACTIONS.SCAN_HU_CODE': 'INPUT_ACTIONS.SCAN_NEW_HU_CODE'}}"
          placeholder="{{containers.compatibles.length > 0 ? containers.compatibles[0].position.containerCode : ''}}"
          accept-not-existent="containers.compatibles.length === 0"
          allowed-containers="containers.compatibles.length > 0  ? containers.compatibles : null"
          is-package-type-selectable="containers.compatibles.length > 0 ? false : taskConfig.packageTypeInputEnabled"
          default-package-type="taskConfig.defaultPackageType"
          validation-fn="countingMultiHU.verifyContainer"
          selected-callback="countingMultiHU.onContainerSelected"
          check-type="SERVER">
        </hu-input>

        <hu-display list="containers.all"></hu-display>

        <stock-reference ng-repeat="stock in dataModel.stocks"
                         ng-if="dataModel.stocks.length > 0"
                         stock="stock">
          <stock-action prop="qualityCheckAction"
                        enabled="false">
          </stock-action>
          <div class="wms-card-icon-actions">
            <stock-action prop="cameraAction">
            </stock-action>
          </div>
        </stock-reference>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.CLOSE_HU">

        <hu-input
          title="INPUT_ACTIONS.SCAN_HU_CODE"
          accept-not-existent="false"
          allowed-containers="containers.all"
          selected-callback="countingMultiHU.onContainerClose">
        </hu-input>

        <hu-display list="containers.all" display-raw="true"></hu-display>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">

    <div class="button-bar">

      <button class="button button-full button-positive"
              ng-if="closeContainerBtn" tap-sound
              ng-click="countingMultiHU.openCloseContainer()">
        <b>{{ 'TASK.CLOSE_HU' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="openDetailsBtn" tap-sound
              ng-click="countingMultiHU.openTaskInfo()">
        <b>{{ 'TASK.CONFIRM_TASK' | translate | uppercase }}</b>
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
