<ion-view view-title="counting-by-container" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="containerCtrl.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="containerCtrl.openTaskInfo({ disableInteraction: true })">
      {{::'COUNTING.GENERIC.COUNTING_TASK_BY_CONTAINER' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <!--div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div-->

  <ion-content delegate-handle="counting-by-container-task">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <!-- Scan HU -->
      <lea-wizard-step config="::steps.SCAN_HU">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  selected-callback="containerCtrl.addCountedContainer"
                  allowed-containers="containersFromTask"
                  accept-not-existent="false"
                  delegate-handle="hu-delegate">
        </hu-input>

        <nvd3 api="chart.api"
              config="chart.config"
              options="chart.options"
              data="chart.data">
        </nvd3>

      </lea-wizard-step>

      <!-- Select Detail -->
      <lea-wizard-step config="::steps.DETAILS">
        <br/>
        <content-info headers="contentHeader">
          <stock-reference ng-repeat="det in details4Container" stock="det.stock">
          </stock-reference>
        </content-info>

      </lea-wizard-step>
    </lea-wizard>
  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-full button-positive"
              ng-click="buttons.CONFIRM_TASK.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.CONFIRM_TASK.step"
              on-key-press="::buttons.CONFIRM_TASK.key"
              ng-show="buttons.CONFIRM_TASK.condition"
              tap-sound>
        <b>{{ 'TASK.CONFIRM_TASK' | translate | uppercase }}</b>
      </button>
      <button class="button button-full button-positive"
              ng-click="buttons.SAVE_DETAILS.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.SAVE_DETAILS.step"
              on-key-press="::buttons.SAVE_DETAILS.key"
              tap-sound>
        <b>{{ 'GENERIC.SAVE' | translate | uppercase }}</b>
      </button>
      <button class="button button-full button-positive"
              ng-click="buttons.SAVE.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.SAVE.step"
              on-key-press="::buttons.SAVE.key"
              ng-disabled="buttons.SAVE.condition"
              tap-sound>
        <b>{{ 'GENERIC.SAVE' | translate | uppercase }}</b>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
