<ion-modal-view title="stock-taking-task-details">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{::'STOCKTAKING.GENERIC.STOCKTAKING_TASK' | translate | capitalize }}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i> </a>
  </ion-header-bar>

  <ion-content class="has-header" delegate-handle="stock-taking-task-details">

    <progression-display title="task.fullName"
                         right-text="'GENERIC.TOTAL'"
                         right-value="task.progression.maxLimit"
                         left-text="'GENERIC.COMPLETED'"
                         left-value="task.progression.current"
                         background="like-app"
                         footer-values="[
                          {value: 'TASK_STATUS.' + task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                          {value: (task.executors[0]) ? task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'},
                          {value: task.countNumber, text: 'TASK.DETAIL_MODAL.COUNT_NUMBER'}]"></progression-display>

    <stock-taking-details details="taskDetails">
    </stock-taking-details>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">
    <button class="button button-full button-positive"
            ng-click="exit()"
            tap-sound>
      <b>{{ ::'GENERIC.EXIT' | translate | uppercase }}</b>
    </button>
  </ion-footer-bar>

</ion-modal-view>
