<ion-view view-title="counting-task" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="containerComposition.handleBack()" tap-sound
       ng-if="currentStep !== steps.CONTAINER.name">
      <i class="icon ion-chevron-left"></i>
    </a>
    <a class="button button-clear" menu-toggle="left" style="display: block;"
       ng-if="currentStep === steps.CONTAINER.name" tap-sound>
      <i class="icon ion-navicon"></i>
    </a>
    <h1 class="title" ng-click="counting.openTaskInfo({ disableInteraction: true })" tap-sound>
      {{::'CONTAINER_COMPOSITION.GENERIC.TITLE' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <ion-content delegate-handle="containerCompositionWz" ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.CONTAINER">

        <hu-input container-resource-name="ParcelContainer"
                  title="CONTAINER_COMPOSITION.INPUT_ACTIONS.SCAN_CONTAINER_CODE"
                  selected-callback="containerComposition.onContainerSelected"
                  validation-fn="containerComposition.verifyContainer"
                  is-package-type-selectable="true"
                  default-package-type="null"
                  accept-not-existent="true"
                  check-type="SERVER"
                  delegate-handle="container-delegate">
        </hu-input>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.CONTENT">

        <hu-input container-resource-name="Parcel,ParcelContainer"
                  title="CONTAINER_COMPOSITION.INPUT_ACTIONS.SCAN_CONTENT_CODE"
                  selected-callback="containerComposition.onContentSelected"
                  is-package-type-selectable="false"
                  default-package-type="null"
                  validation-fn="containerComposition.verifyContent"
                  accept-not-existent="false"
                  check-type="SERVER"
                  delegate-handle="content-delegate">
        </hu-input>

        <content-info headers="countHeaders"></content-info>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-full button-positive"
              ng-disabled="dataModel.content.length < 1"
              ng-click="buttons.CONFIRM_CONTAINER.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::buttons.CONFIRM_CONTAINER.step"
              on-key-press="::buttons.CONFIRM_CONTAINER.key"
              ng-show="buttons.CONFIRM_CONTAINER.condition"
              tap-sound>
        <b>{{ 'CONTAINER_COMPOSITION.BUTTONS.CONFIRM_CONTAINER' | translate | uppercase }}</b>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
