<ion-list class="info core-list">

  <ion-item class="item-remove-animate item-text-wrap" style="pointer-events: none;">
    <div class="row">
      <div class="col info-value-left">{{parcelContainer.code}}</div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate item-text-wrap" ng-click="resolveLocation()">
    <div class="row">
      <div class="col col-33 info-label">{{::'RESOURCE.LOCATION' | translate}}</div>
      <div class="col info-value" ng-class="{ 'info-value': !mappedLocation, 'info-link-right bold': mappedLocation }">
        {{parcelContainer.positionRef.location || '-'}}
      </div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate item-text-wrap" style="pointer-events: none;">
    <div class="row">
      <div class="col col-33 info-label">{{::'RESOURCE.PACKAGE_TYPE' | translate}}</div>
      <div class="col info-value">{{ (parcelContainer.packageType && parcelContainer.packageType.type) || '-'}}
      </div>
    </div>
    <div class="row">
      <div class="col col-33 info-label">{{::'GENERIC_MASTER_DATA.WEIGHT' | translate}}</div>
      <div class="col info-value">{{(parcelContainer.weight | number) || '-'}} kg</div>
    </div>
    <div class="row">
      <div class="col col-33 info-label">{{::'GENERIC_MASTER_DATA.VOLUME' | translate}}</div>
      <div class="col info-value">{{(parcelContainer.volume | number) || '-'}} m&sup3;</div>
    </div>
    <div class="row" ng-if="parcelContainer.shipment && parcelContainer.shipment.carrier">
      <div class="col col-33 info-label">{{::'PARCEL.CARRIER' | translate}}</div>
      <div class="col info-value">{{parcelContainer.shipment.carrier.partner.name}}</div>
    </div>
    <div class="row" ng-if="parcelContainer.shipment.route">
      <div class="col col-33 info-label">{{::'PARCEL.ROUTE' | translate}}</div>
      <div class="col info-value">{{parcelContainer.shipment.route}}</div>
    </div>
  </ion-item>

  <ion-item class="item-divider" style="height: auto !important; pointer-events: none;">
    {{::'RESOURCE.PARCEL' | translate | uppercase}}
    ({{parcelContainer.parcels.length}})
  </ion-item>

  <ion-item ng-repeat="parcel in parcelContainer.parcels track by $index" ng-click="resolveParcel(parcel)" tap-sound>
    <div class="row">
      <div class="col info-value info-link-left">{{parcel.code}}</div>
    </div>
  </ion-item>

  <loading-skeleton width="40" ng-if="loadingParcel"></loading-skeleton>

  <ion-item ng-if="!loadingParcel && parcelContainer.parcels.length === 0" style="pointer-events: none;">
    <div class="row">
      <div class="col col-33 info-label">{{::'WMS_ERRORS.NO_PARCEL_FOUND' | translate}}</div>
    </div>
  </ion-item>

  <ion-item class="item-divider" style="height: auto !important; pointer-events: none;">
    {{::'RESOURCE.PARCEL_CONTAINER' | translate | uppercase}}
    ({{parcelContainer.containers.length}})
  </ion-item>

  <ion-item ng-repeat="container in parcelContainer.containers track by $index"
            ng-click="resolveParcelContainer(container)" tap-sound>
    <div class="row">
      <div class="col info-value info-link-left">{{container.code}}</div>
    </div>
  </ion-item>

  <loading-skeleton width="40" ng-if="loadingContainers"></loading-skeleton>

  <ion-item ng-if="!loadingContainers && parcelContainer.containers.length === 0" style="pointer-events: none;">
    <div class="row">
      <div class="col col-33 info-label">{{::'WMS_ERRORS.NO_CONTAINER_FOUND' | translate}}</div>
    </div>
  </ion-item>

</ion-list>
