<div class="hu-display">

  <div class="row">
    <div class="col">
      <div class="row" ng-repeat="row in matrix track by $index">
        <div class="col" ng-repeat="cell in row track by $index">
          <div class="hu-box" ng-if="cell" ng-class="{'green': (cell.selectable || cell.active) && !(!!$ctrl.displayRaw)}">
            {{(cell.empty === true) ? '' : cell.location || cell.position.location}}
          </div>
        </div>
      </div>
    </div>
    <div class="col col-10">
      <a ng-click="$ctrl.addColumn()" class="button button-small">
        <i class="icon ion-plus"></i></a>
      <br/>
      <a ng-click="$ctrl.removeColumn()" class="button button-small">
        <i class="icon ion-minus"></i></a>
    </div>
  </div>

</div>
