<ion-view view-title="picking-cluster" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="pickingCluster.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="openTaskDetails(task, taskInfo, null, { disableInteraction: true })" tap-sound>
      {{::'PICKING.GENERIC.PICKING_PARTIAL' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="picking-cluster" ng-class="{'has-actionbar': hasSubheader, 'has-footer': hasFooter}">

    <wizard name="{{::wizardName}}" hide-indicators="true" ng-show="taskLoaded">

      <!-- Scan Allocation -->
      <wz-step wz-title="{{::steps.ALLOCATION.name}}">

        <input-editor title="{{allocationMode.title}}"
                      callback="pickingCluster.onAllocationScan"
                      errors-definitions="allocationErrorsDef">
        </input-editor>

      </wz-step>

      <!-- Scan Item -->
      <wz-step wz-title="{{::steps.ITEM.name}}">

        <input-editor title="{{serialNeeded ? 'INPUT_ACTIONS.SCAN_SERIAL' : 'INPUT_ACTIONS.SCAN_ITEM'}}"
                      placeholder="{{serialNeeded ? null : taskDetail.item.itemNumber}}"
                      callback="pickingCluster.onItemSelected"
                      validator="serialItemValidator">
        </input-editor>

      </wz-step>

      <!-- Stock Input -->
      <wz-step wz-title="{{::steps.STOCK.name}}" wz-disabled="{{autoScanMode}}">

        <stock-input stock-config="stockInputConfig"
                     callback="pickingCluster.confirmStock">
        </stock-input>

      </wz-step>

      <!-- Destination HU -->
      <wz-step wz-title="{{::steps.DESTINATION_HU.name}}">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  placeholder="{{validation.destinationContainer[0].code}}"
                  allowed-containers="validation.destinationContainer"
                  accept-not-existent="false"
                  selected-callback="pickingCluster.onDestinationContainerSelected"
                  is-package-type-selectable="false">
        </hu-input>

      </wz-step>

      <!-- Move HU -->
      <wz-step wz-title="{{::steps.MOVE_HU.name}}">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  accept-not-existent="false"
                  allowed-containers="destinationContainers.list"
                  is-package-type-selectable="false"
                  selected-callback="pickingCluster.onMoveHuSelected">
        </hu-input>

      </wz-step>

      <!-- Move Location -->
      <wz-step wz-title="{{::steps.MOVE_LOCATION.name}}">

        <location-input title="INPUT_ACTIONS.SCAN_LOCATION"
                        default-value="validation.suggestedDestination"
                        allow-unexpected="true"
                        selected-callback="pickingCluster.onDestinationLocationSelected"
                        config="steps.MOVE_LOCATION.locationConfig">
        </location-input>

      </wz-step>

      <!-- Open HU -->
      <wz-step wz-title="{{::steps.OPEN_HU.name}}">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  validation-fn="pickingCluster.verifyOpenHu"
                  accept-not-existent="true"
                  check-type="SERVER"
                  selected-callback="pickingCluster.openHu"
                  is-package-type-selectable="taskConfig.packageTypeInputEnabled"
                  default-package-type="taskConfig.defaultPackageType"
                  delegate-handle="{{openHuDelegateName}}">
        </hu-input>

        <hu-display list="openContainer.list">
        </hu-display>

      </wz-step>

      <!-- Select Job -->
      <wz-step wz-title="{{::steps.SELECT_JOB.name}}">

        <ion-list class="core-list">

          <picking-task-details-item-list details="taskDetails"
                                          hide-item="false"
                                          on-click="pickingCluster.onDetailSelected"
                                          list-position="listPosition">
          </picking-task-details-item-list>

        </ion-list>

      </wz-step>

    </wizard>

    <!-- Picking info -->
    <div ng-show="showPickInfo">
      <hu-display list="pickContainers.list">
      </hu-display>

      <recap-picking-info detail="taskDetail"
                          detail-config="taskDetailConfig"
                          detail-item-totals="taskItemTotals"
                          stock="pickingModel.pickedStock"
                          stock-config="pickingInfo">
      </recap-picking-info>
    </div>

    <!-- Destination info -->
    <hu-display ng-show="showDestinationInfo" list="destinationContainers.list">
    </hu-display>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">

    <div class="button-bar">

      <button class="button button-full button-positive"
              ng-if="showChangeDetailBtn"
              ng-click="pickingCluster.changeDetail()"
              tap-sound>
        <b>{{ 'GENERIC.CHANGE_JOB' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showMissingStockBtn"
              ng-click="pickingCluster.missingStock()"
              tap-sound>
        <b>{{ 'PICKING.BUTTONS.MISSING_STOCK' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showChangeHUBtn"
              ng-click="pickingCluster.changeHU()"
              tap-sound>
        <b>{{ 'TASK.CLOSE_HU' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showConfirmPicking"
              ng-disabled="disableConfirmPicking"
              ng-click="pickingCluster.confirmPickedStock()"
              tap-sound>
        <b>{{ 'GENERIC.CONFIRM' | translate | uppercase }}</b>
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
