<ion-view view-title="process-summary" hide-nav-bar="true" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-icon ion-navicon" style="display: block" menu-toggle="left" tap-sound></a>
    <h1 class="title">{{ ::'TASKS.LIST' | translate | capitalize}}</h1>
    <a class="button button-icon ion-information-circled" ng-click="openInfoModal()" tap-sound></a>
  </ion-header-bar>

  <div class="bar bar-subheader selected-site">
    <h1 class="title site-name">{{::site.code}} - {{::site.name}}</h1>
  </div>

  <ion-content class="has-subheader process-summary" delegate-handle="process-summary" scroll="true">

    <input-editor title="INPUT_ACTIONS.SCAN_TASK"
                  callback="processSummary.onBarcodeScan"
                  errors-definitions="errorsDef"
                  delegate-handle="{{taskInputDelegate}}">
    </input-editor>

    <ion-list class="process-summary-list">

      <ion-item id="process-summary-list-item{{$index}}"
                ng-repeat="task in taskSummary track by $index"
                ng-class="{'selected': listPosition.current === $index}"
                ng-click="processSummary.openTaskList(task)"
                class="item-remove-animate item-icon-right item-text-wrap"
                tap-sound>

        <p>{{ 'TASKS.TYPES.' + task.label | translate | uppercase }}</p>
        <div class="badge badge-assertive">
          <span>{{task.count}}</span>
        </div>
      </ion-item>

    </ion-list>

    <ion-refresher on-refresh="processSummary.updateCounters()"></ion-refresher>

  </ion-content>

</ion-view>
