<ion-view view-title="tasks-list" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="taskList.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">{{::'TASKS.TYPES.' + taskInfo.label | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <ion-content class="has-header" delegate-handle="tasks-list" scroll="true">

    <ion-refresher on-refresh="taskList.loadTasks()"></ion-refresher>

    <input-editor title="INPUT_ACTIONS.SCAN_TASK"
                  callback="taskList.onBarcodeScan"
                  errors-definitions="errorsDef"
                  delegate-handle="{{taskInputDelegate}}">
    </input-editor>

    <task-item-list
      loaded="loaded"
      tasks="tasks"
      can-load-more-data="existsMoreTasks"
      task-info="taskInfo"
      on-detail-selection="openTaskDetails"
      on-task-selection="taskList.initTask"
      on-load-more="taskList.loadMoreTasks">
    </task-item-list>

  </ion-content>

</ion-view>
