<div class="list core-list" ng-show="$ctrl.hu">

  <div class="item">
    <div class="row">
      <span class="info-label col-33">{{'RESOURCE.HU' | translate}}</span>
      <span class="info-value col-66">{{$ctrl.hu.code}}</span><br/>
    </div>
  </div>

  <div class="item" ng-if="$ctrl.hideDescription === false && $ctrl.hu.packageType.type">
    <div class="row">
      <span class="info-label col-33">{{'RESOURCE.PACKAGE' | translate}}</span>
      <span class="info-value col-66">{{$ctrl.hu.packageType.type}}</span>
    </div>
  </div>

</div>
