<ion-view view-title="complete-masterdata" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="completeMasterData.exit()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">{{::'MASTERDATA.GENERIC.MASTERDATA_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content class="has-actionbar" delegate-handle="complete-masterdata">

    <add-item-info-form ng-model="mdModel.data"
                        on-validate="completeMasterData.onValidate"
                        item-master-data-config="taskConfig"
                        item-master-data-default-values="taskDetail">
    </add-item-info-form>

  </ion-content>

  <ion-footer-bar>
    <button class="button button-full button-positive" ng-disabled="!mdModel.isValid"
            ng-click="completeMasterData.confirm()">{{ 'GENERIC.CONFIRM' | translate | uppercase }}
    </button>
  </ion-footer-bar>

</ion-view>
