<ion-modal-view title="journey-loading-task-details">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{::'INTERPLANT.GENERIC.JOURNEY_STOP_LOADING_TASK' | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i> </a>
  </ion-header-bar>

  <ion-content delegate-handle="journey-loading-task-transport-units">

    <progression-display title="task.fullName"
                         right-text="'GENERIC.TOTAL'"
                         right-value="task.progression.maxLimit"
                         left-text="'GENERIC.COMPLETED'"
                         left-value="task.progression.current"
                         background="like-app"
                         footer-values="[
                          {value: 'TASK_STATUS.' + task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                          {value: (task.executors[0]) ? task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'}]">
    </progression-display>

    <ion-list class="core-list" ng-show="loaded">
      <journey-loading-transport-unit-list transport-units="transportUnits" list-position="listPosition">
      </journey-loading-transport-unit-list>
    </ion-list>

  </ion-content>

</ion-modal-view>
