<ion-list class="core-list">
  <ion-item ng-repeat="container in $ctrl.containers track by container.code"
            style="border-top: 0; border-left: 0; margin-top: 1px;">
    <div style="display: flex;">
      <div style="align-self: center;">
        <p class="item-title">{{ container.code }}</p>
        <p class="item-description">
          {{ ::'STOCKTAKING.GENERIC.CONTENTS' | translate }}: {{ container.contentSize }}
        </p>
      </div>
      <div style="flex: 1;"></div>
      <button class="button button-icon icon icon-left ion-trash-b"
              ng-click="$ctrl.onRemove({code: container.code})">
      </button>
    </div>
  </ion-item>
</ion-list>
