<ion-modal-view class="info" title="info-modal">

  <ion-header-bar align-title="center" class="bar info-header">
    <a class="button button-clear button-positive" ng-click="info.handleBack()"
       ng-if="currentStep !== 'info-input-code'" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title">{{ pageTitle | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()" tap-sound><i class="icon ion-close"></i></a>
  </ion-header-bar>

  <ion-content class="has-header"
               ng-class="{' has-footer': hasFooter}"
               scroll="true" delegate-handle="info-modal">

    <wizard name="InfoWz" hide-indicators="true">
      <wz-step wz-title="info-input-code">
        <input-editor title="GENERIC.SCAN"
                      callback="info.onBarcodeScan"
                      errors-definitions="errorsDef">
        </input-editor>
      </wz-step>
      <!-- HU -->
      <wz-step wz-title="info-scan-hu">
        <info-hu ng-if="currentInfo.type === 'hu'" hu="currentInfo.value" show-info-callback="info.showInfo"></info-hu>
      </wz-step>
      <!-- ITEM -->
      <wz-step wz-title="info-scan-item">
        <info-item ng-if="currentInfo.type === 'item'" item="currentInfo.value"
                   show-info-callback="info.showInfo"></info-item>
      </wz-step>
      <!-- LOCATION -->
      <wz-step wz-title="info-scan-location">
        <info-location ng-if="currentInfo.type === 'location'" location="currentInfo.value"
                       show-info-callback="info.showInfo"></info-location>
      </wz-step>
      <!-- STOCK -->
      <wz-step wz-title="info-scan-item-stock">
        <info-stock ng-if="currentInfo.type === 'stock'" item="currentInfo.value"
                    show-info-callback="info.showInfo"></info-stock>
      </wz-step>
      <!-- PARCEL -->
      <wz-step wz-title="info-scan-parcel">
        <info-parcel ng-if="currentInfo.type === 'parcel'" parcel="currentInfo.value" show-info-callback="info.showInfo"></info-parcel>
      </wz-step>
      <!-- PARCEL CONTAINER -->
      <wz-step wz-title="info-scan-parcel-container">
        <info-parcel-container ng-if="currentInfo.type === 'parcel-container'" parcel-container="currentInfo.value" show-info-callback="info.showInfo"></info-parcel-container>
      </wz-step>
      <!-- TASK -->
      <wz-step wz-title="info-scan-task">
        <info-task ng-if="currentInfo.type === 'task'" task="currentInfo.value"
                   show-info-callback="info.showInfo"></info-task>
      </wz-step>
    </wizard>
  </ion-content>

  <ion-footer-bar ng-if="hasFooter">
    <button class="button button-full button-dark"
            ng-click="info.showInfo('stock', currentInfo.value)" tap-sound>
      <b>{{ 'GENERIC.SHOW_STOCK' | translate | uppercase }}</b></button>
  </ion-footer-bar>

</ion-modal-view>
