<div class="production-info">

  <div class="row" ng-repeat="field in $ctrl.fields">
    <div class="col production-info-label">{{ ::field.label }}</div>
    <div class="col production-info-value">{{ ::field.value }}</div>
  </div>

</div>
