<ion-list class="core-list">

  <ion-item ng-if="$ctrl.values.length === 0">
    <span>{{ ::'EMPTY_LIST.QUALITY_STATUS_TYPE' | translate }}</span>
  </ion-item>

  <ion-item id="{{ ::itemPrefix }}{{ $index }}"
            ng-repeat="reasonCode in $ctrl.values track by $index"
            ng-click="$ctrl.onClick()(reasonCode)"
            ng-class="{'selected': listPosition.current === $index}"
            class="item-icon-right"
            style="padding-top: 16px !important; padding-bottom: 16px !important"
            tap-sound>
    <div class="item-title">{{ ::reasonCode.code }}</div>
    <div class="item-description" ng-show="reasonCode.description">{{ ::reasonCode.description }}</div>
    <i class="icon ion-checkmark" icon-right ng-if="$ctrl.activeReason(reasonCode)"></i>
  </ion-item>

</ion-list>
