<ion-view view-title="about" hide-nav-bar="true" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-icon ion-navicon" style="display: block" menu-toggle="left" tap-sound></a>
    <h1 class="title">{{::'ABOUT.TITLE' | translate | capitalize}}</h1>
  </ion-header-bar>

  <ion-content>

    <ion-list>

      <ion-item class="item-divider" style="height: auto !important;">
        {{ ::'ABOUT.USER' | translate | uppercase }}
      </ion-item>

      <ion-item>
        {{::'ABOUT.USERNAME' | translate}}
        <span class="item-note">
          {{::info.userInfo.userName}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.SITE' | translate}}
        <span class="item-note wrap">
          {{::info.site.code}} - {{::info.site.name}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.VEHICLE' | translate}}
        <span class="item-note wrap">
          {{ ::info.vehicle.label | translate | uppercase }}
        </span>
      </ion-item>

      <ion-item class="item-divider" style="height: auto !important;">
        {{ ::'ABOUT.MOBILE' | translate | uppercase }}
      </ion-item>

      <ion-item>
        {{::'ABOUT.ENVIRONMENT' | translate}}
        <span class="item-note">
          {{::info.app.environment}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.TENANT' | translate}}
        <span class="item-note">
          {{::info.app.tenant}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.NAME' | translate}}
        <span class="item-note">
          {{::info.app.artifactId}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.VERSION' | translate}}
        <span class="item-note">
          {{::info.app.version}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.BUILD_NUMBER' | translate}}
        <span class="item-note">
          {{::info.app.buildNumber}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.COMMIT' | translate}}
        <span class="item-note">
          {{::info.app.commit}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.DEVICE_ID' | translate}}
        <span class="item-note">
          {{::info.deviceId}}
        </span>
      </ion-item>

      <ion-item class="item-divider" style="height: auto !important;">
        {{ ::'ABOUT.BE' | translate | uppercase }}
      </ion-item>

      <ion-item>
        {{::'ABOUT.VERSION' | translate}}
        <span class="item-note">
          {{::info.be.version}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.BUILD_NUMBER' | translate}}
        <span class="item-note">
          {{::info.be.buildNumber}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.COMMIT' | translate}}
        <span class="item-note">
          {{::info.be.buildCommit}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.ENVIRONMENT' | translate}}
        <span class="item-note">
          {{::info.be.environment}}
        </span>
      </ion-item>

      <ion-item>
        {{::'ABOUT.HOSTNAME' | translate}}
        <span class="item-note">
          {{::info.userInfo.hostName}}
        </span>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
