<ion-item ng-if="$ctrl.compatibleHuList.length === 0">
  <div class="item-title">{{::'EMPTY_LIST.ITEM_COUNTED' | translate}}</div>
</ion-item>
<ion-item id="putaway-compatibile-containers-list{{$index}}"
          ng-class="{ 'selected' : $index === $ctrl.listPosition.current }"
          ng-repeat="compatibleHu in $ctrl.compatibleHuList track by $index"
          ng-click="$ctrl.selectedCallback()(compatibleHu)">
  <div class="item-title">
    {{::compatibleHu.containerCode}}
    <span class="item-note" style="font-size: 20px !important;">
      <b>{{::$ctrl.getQuantity(compatibleHu)}}</b>
    </span>
  </div>
  <div class="item-description">{{::compatibleHu.location}}</div>
</ion-item>
