<ion-list class="info core-list">

  <ion-item class="item-remove-animate item-text-wrap" style="pointer-events: none;">
    <div class="row">
      <div class="col info-value-left">{{hu.code}}</div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate item-text-wrap" ng-click="resolveLocation()">
    <div class="row">
      <div class="col col-33 info-label">{{::'RESOURCE.LOCATION' | translate}}</div>
      <div class="col info-value" ng-class="{ 'info-value': !mappedLocation, 'info-link-right bold': mappedLocation }">
        {{hu.positionRef.location || '-'}}
      </div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate item-text-wrap" style="pointer-events: none;">
    <div class="row">
      <div class="col col-33 info-label">{{::'RESOURCE.PACKAGE_TYPE' | translate}}</div>
      <div class="col info-value">{{hu.packageType.type || '-'}}</div>
    </div>
    <div class="row" ng-if="hu.positionRef.masterContainerCode">
      <div class="col col-33 info-label">{{::'RESOURCE.CONTAINER' | translate}}</div>
      <div class="col info-value">{{hu.positionRef.masterContainerCode}}</div>
    </div>
    <div class="row" ng-if="hu.nextPosition.location">
      <div class="col col-33 info-label">{{::'INFO.NEXT_LOCATION' | translate}}</div>
      <div class="col info-value">{{hu.nextPosition.location}}</div>
    </div>
    <div class="row">
      <div class="col col-33 info-label">{{::'GENERIC_MASTER_DATA.WEIGHT' | translate}}</div>
      <div class="col info-value">{{(hu.weight | number) || '-'}} kg</div>
    </div>
    <div class="row">
      <div class="col col-33 info-label">{{::'GENERIC_MASTER_DATA.VOLUME' | translate}}</div>
      <div class="col info-value">{{(hu.volume | number) || '-'}} m&sup3;</div>
    </div>
  </ion-item>

  <ion-item class="item-divider" style="height: auto !important; pointer-events: none;">
    {{::'RESOURCE.STOCK' | translate | uppercase}}
    ({{phStocks.length}})
  </ion-item>

  <ion-item ng-if="!loadingStock && phStocks.length > 0" ng-repeat="phStock in phStocks track by $index"
            ng-click="resolveItem(phStock)" tap-sound>
    <div class="row">
      <div class="col">
        <item-reference item="phStock.stock.item" link-style="true"></item-reference>
      </div>
      <div class="col">
        <div class="info-value">{{phStock.stock.quantity}}</div>
      </div>
    </div>

    <div class="row" ng-if="phStock.stock.productionInfo">
      <production-info class="col"
                       production-info="phStock.stock.productionInfo">
      </production-info>
    </div>

    <accounting-info ng-if="phStock.stock.accountingInfo"
                     accounting-info="phStock.stock.accountingInfo">
    </accounting-info>
  </ion-item>

  <loading-skeleton width="40" ng-if="loadingStock"></loading-skeleton>

  <ion-item ng-if="!loadingStock && phStock.length === 0" style="pointer-events: none;">
    <div class="row">
      <div class="col col-33 info-label">
        {{::'GENERIC.NO' | translate}}&nbsp;{{::'RESOURCE.STOCK' | translate}}
      </div>
    </div>
  </ion-item>

</ion-list>
