<div class="accounting-info">

  <div class="row" ng-if="$ctrl.accountingInfo.accountingStatus">
    <div class="col accounting-info-label">{{'ACCOUNTING_INFO.ACCOUNTING_STATUS' | translate}}</div>
    <div class="col accounting-info-value">{{$ctrl.accountingInfo.accountingStatus}}</div>
  </div>

  <div class="row" ng-if="$ctrl.accountingInfo.stockOwner">
    <div class="col accounting-info-label">{{'ACCOUNTING_INFO.STOCK_OWNER' | translate}}</div>
    <div class="col accounting-info-value">{{$ctrl.accountingInfo.stockOwner}}</div>
  </div>

  <div class="row" ng-if="$ctrl.accountingInfo.customStatus">
    <div class="col accounting-info-label">{{'ACCOUNTING_INFO.CUSTOM_STATUS' | translate}}</div>
    <div class="col accounting-info-value">{{$ctrl.accountingInfo.customStatus}}</div>
  </div>

  <div class="row" ng-if="$ctrl.accountingInfo.availability">
    <div class="col accounting-info-label">{{'ACCOUNTING_INFO.AVAILABILITY' | translate}}</div>
    <div class="col accounting-info-value">{{$ctrl.accountingInfo.availability}}</div>
  </div>

  <div class="row" ng-if="$ctrl.accountingInfo.costCenter">
    <div class="col accounting-info-label">{{'ACCOUNTING_INFO.COST_CENTER' | translate}}</div>
    <div class="col accounting-info-value">{{$ctrl.accountingInfo.costCenter}}</div>
  </div>

</div>
