<ion-item ng-if="$ctrl.parcels.length === 0">
  {{::'EMPTY_LIST.NO_JOBS' | translate}}
</ion-item>

<ion-item id="parcel-list{{$index}}" ng-repeat="parcel in $ctrl.parcels"
          ng-class="{ 'selected' : $index === $ctrl.listPosition.current }">

  <div class="item-title">
    {{parcel.shippingMark}}
    <span class="item-status item-note">{{ ::'SHIPMENT.STATUS.' + parcel.status | translate | uppercase }}</span>
  </div>

</ion-item>
