<ion-list class="core-list" ng-if="parcels != null">

  <ion-item ng-if="parcels.length === 0">
    <div class="item-title">{{::'EMPTY_LIST.ITEM_COUNTED' | translate}}</div>
  </ion-item>

  <parcel-info ng-repeat="parcel in $ctrl.parcels"
               ng-if="$ctrl.parcels.length > 0"
               parcel="parcel">
    <div class="wms-card-icon-actions" ng-if="!disableAction">
      <parcel-action prop="deleteAction"></parcel-action>
    </div>

  </parcel-info>

</ion-list>
