<div class="add-item-info-form">
  <form name="physicalAttributesForm" id="physicalAttributesForm">
    <label class="item item-input master-data-info-slide"
           ng-class="{
               'has-errors' : physicalAttributesForm.weight.$invalid,
               'no-errors' : physicalAttributesForm.weight.$valid
               }">
          <span class="input-label">
            {{ ::'PARCEL.WEIGHT' | translate }} [kg]
          </span>
      <input type="number"
             name="weight"
             ng-model="$ctrl.model.weight"
             ng-min="MIN_VALUE"
             next-on-enter
             ng-required="$ctrl.config.weightMandatory === true">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{
               'has-errors' : physicalAttributesForm.volume.$invalid,
               'no-errors' : physicalAttributesForm.volume.$valid
               }">
          <span class="input-label">
            {{ ::'PARCEL.VOLUME' | translate }} [m&sup3;]
          </span>
      <input type="number"
             name="volume"
             ng-model="$ctrl.model.volume"
             ng-min="MIN_VALUE"
             ng-disabled="$ctrl.config.disableVolume === true"
             ng-required="!$ctrl.config.disableVolume && $ctrl.config.volumeMandatory === true">
    </label>
  </form>
</div>
