<ion-modal-view title="counting-by-container-task-details">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{::'COUNTING.GENERIC.COUNTING_TASK_BY_CONTAINER' | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i></a>
  </ion-header-bar>

  <ion-content delegate-handle="counting-by-container-task-details">

    <progression-display title="task.fullName"
                         right-text="'GENERIC.TOTAL'"
                         right-value="task.progression.maxLimit"
                         left-text="'GENERIC.COMPLETED'"
                         left-value="task.progression.current"
                         background="like-app"
                         footer-values="[
                          {value: 'TASK_STATUS.' + task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                          {value: (task.executors[0]) ? task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'}]">
    </progression-display>

    <ion-list class="core-list">
      <counting-by-container-details-item-list details="taskDetails"
                                               list-position="listPosition">
      </counting-by-container-details-item-list>
    </ion-list>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">

    <button class="button button-full button-positive"
            ng-if="exitAllowed"
            ng-click="closeModal()"
            tap-sound>
      <b>{{ 'GENERIC.EXIT' | translate | uppercase }}</b>
    </button>

    <button class="button button-full button-positive"
            ng-if="closureAllowed"
            ng-click="countingByContainerDetail.closeTask()"
            tap-sound>
      <b>{{ 'GENERIC.CONFIRM' | translate | uppercase }}</b>
    </button>

  </ion-footer-bar>

</ion-modal-view>
