<ion-modal-view title="counting-task-details-selector">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{::'MODAL.ITEM_LIST' | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i> </a>
  </ion-header-bar>

  <ion-content class="has-header" delegate-handle="counting-task-details-selector">

    <ion-list class="core-list">
      <counting-task-details-item-list task-details="taskDetails"
                                       on-click="returnToCounting"
                                       list-position="listPosition"
                                       with-image="true"></counting-task-details-item-list>
    </ion-list>

  </ion-content>

</ion-modal-view>
