<ion-modal-view title="counting-task-details">

  <ion-header-bar class="bar bar-header like-app" align-title="center">
    <h1 class="title">{{title | translate | capitalize}}</h1>
    <a class="button button-clear" ng-click="closeModal()"><i class="icon ion-close"></i> </a>
  </ion-header-bar>

  <ion-content class="has-header" ng-class="{'has-footer': hasFooter}" delegate-handle="counting-task-details">

    <progression-display title="task.fullName"
                         right-text="'GENERIC.TOTAL'"
                         right-value="task.progression.maxLimit"
                         left-text="'GENERIC.COMPLETED'"
                         left-value="task.progression.current"
                         background="like-app"
                         footer-values="[
                            {value: 'TASK_STATUS.' + task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                            {value: (task.executors[0]) ? task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'},
                            {value: unexpectedCount, text: 'TASK.DETAIL_MODAL.UNEXPECTED'}
                          ]">
    </progression-display>

    <ion-list class="core-list">
      <counting-task-details-item-list task-details="taskDetails"
                                       list-position="listPosition"
                                       with-image="false">
      </counting-task-details-item-list>
    </ion-list>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">

    <button class="button button-full button-positive"
            ng-click="countingDetail.closeTask()" tap-sound><b>{{ 'GENERIC.CONFIRM' | translate | uppercase }}</b>
    </button>

  </ion-footer-bar>

</ion-modal-view>
