<ion-view view-title="settings" hide-nav-bar="true" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-icon ion-navicon" style="display: block" menu-toggle="left" tap-sound></a>
    <h1 class="title">{{::'GENERIC.SETTINGS' | translate | capitalize}}</h1>
  </ion-header-bar>

  <ion-content>

    <ion-list>

      <ion-toggle ng-model="inputModel.countingAutoMode" toggle-class="toggle-calm"
                  ng-change="settings.changeCountingMode()"
                  tap-sound="toggle">
        <span>{{::'AUTO_MODE.COUNTING_AUTO' | translate }} </span>
      </ion-toggle>

      <ion-toggle ng-model="inputModel.pickingAutoMode" toggle-class="toggle-calm"
                  ng-change="settings.changePickingMode()"
                  tap-sound="toggle">
        <span>{{::'AUTO_MODE.PICKING_AUTO' | translate }} </span>
      </ion-toggle>

      <ion-toggle ng-model="inputModel.packingAutoMode" toggle-class="toggle-calm"
                  ng-change="settings.changePackingMode()"
                  tap-sound="toggle">
        <span>{{::'AUTO_MODE.PACKING_AUTO' | translate }} </span>
      </ion-toggle>

      <a class="item item-icon-left item-icon-right" ng-click="settings.changeSite()" ng-hide="disableSiteSelection" tap-sound>
        <i class="icon ion-location"></i>
        {{::'SETTINGS.CHANGE_SITE'|translate}}
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="settings.changeVehicle()" ng-hide="disableVehicleSelection" tap-sound>
        <i class="icon ion-android-walk"></i>
        {{::'SETTINGS.CHANGE_VEHICLE'|translate}}
        <i class="icon ion-chevron-right"></i>
      </a>

    </ion-list>

  </ion-content>

</ion-view>
