<ion-view view-title="setup" hide-nav-bar="true" cache-view="false" content="width=device-width">
  <ion-header-bar align-title="center">
    <h1 class="title">{{::'SETUP.TITLE' | translate | capitalize }}</h1>
  </ion-header-bar>

  <div class="bar bar-subheader" ng-show="stepTitle">
    <h1 class="title">{{ stepTitle | translate }}</h1>
  </div>

  <ion-content class="has-subheader context-setup" ng-show="wizardCtrl.$currentStepName()">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.SITE">
        <ion-list id="site-list" class="sites">

          <ion-item id="site-list-item{{$index}}"
                    ng-repeat="site in model.sites track by $index"
                    ng-class="{'selected': listPosition.current === $index}"
                    ng-click="setup.confirmSite(site)"
                    tap-sound>
            <p><b>{{ ::site.code }}</b>&nbsp;-&nbsp;{{ ::site.name }}</p>
          </ion-item>

        </ion-list>
      </lea-wizard-step>

      <lea-wizard-step config="::steps.VEHICLE">
        <ion-slide-box class="vehicle-types">

          <ion-slide ng-repeat="vehicle in model.vehicles">
            <img ng-src="{{vehicle.image}}" ng-click="setup.confirmVehicle(vehicle)">
            <p>{{::vehicle.label | translate | uppercase }}</p>
          </ion-slide>

        </ion-slide-box>
      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

</ion-view>
