<ion-item ng-if="$ctrl.transportUnits.length === 0">
  {{::'EMPTY_LIST.NO_JOBS' | translate}}
</ion-item>

<ion-item id="tu-list{{$index}}" ng-repeat="tu in $ctrl.transportUnits"
          ng-class="{ 'selected' : $index === $ctrl.listPosition.current }">
    <div class="item-title">{{$ctrl.getListItem(tu.transportUnit)}}</div>

    <div class="item-description">{{::tu.transportUnit.unexpected ? ('INTERPLANT.GENERIC.UNEXPECTED_TRANSPORT_UNIT' | translate) : ''}}
      <span class="item-status item-note">{{ :: 'INTERPLANT.STATUS.'+ (tu.transportUnit.currentJourney === undefined ? 'TO_LOAD' : 'LOADED') | translate | uppercase}}</span>
    </div>
</ion-item>
