<div class="info">

  <progression-display title="task.fullName"
                       right-text="'GENERIC.TOTAL'"
                       right-value="task.progression.maxLimit"
                       left-text="'GENERIC.COMPLETED'"
                       left-value="task.progression.current"
                       footer-values="[{value: 'TASK_STATUS.' + task.status, text: 'TASK.DETAIL_MODAL.STATUS'},
                       {value: (task.executors[0]) ? task.executors[0].executor : '', text: 'TASK.DETAIL_MODAL.EXECUTORS'}]">
  </progression-display>

  <ion-list class="core-list">

    <picking-task-details-item-list details="taskDetails" hide-item="task['@type'] === 'WholePickingTask'"
                                    ng-if="task['@type'] === 'WholePickingTask' || task['@type'] === 'PartialPickingTask'">
    </picking-task-details-item-list>

    <counting-task-details-item-list task-details="taskDetails" list-position="listPosition" with-image="false"
                                     ng-if="task['@type'] === 'CountingTaskInboundTrip' || task['@type'] === 'CountingTaskInboundAsn' ||
                                     task['@type'] === 'CountingProductionOrderTask'">
    </counting-task-details-item-list>

    <stock-taking-item-list with-image="false" task-details="taskDetails"
                            ng-if="task['@type'] === 'StockTakingTaskAssisted'">
    </stock-taking-item-list>

    <replenishment-details-item-list details="taskDetails" list-position="listPosition"
                                     ng-if="task['@type'] === 'ReplenishmentTask'">
    </replenishment-details-item-list>

    <freight-loading-parcel-list parcels="taskDetails" list-position="listPosition"
                                 ng-if="task['@type'] === 'FreightLoadingTask'">
    </freight-loading-parcel-list>

    <putaway-details-item-list details="taskDetails"
                               list-position="listPosition"
                               ng-if="task['@type'] === 'JobRequestPutAwayTask' || task['@type'] === 'ParcelPutAwayTask' || task['@type'] === 'ParcelContainerPutAwayTask'">
    </putaway-details-item-list>

  </ion-list>

</div>
