<ion-view view-title="stock-adjustment" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear"
       menu-toggle="left"
       style="display: block;"
       ng-if="showMenuButton"
       tap-sound>
      <i class="icon ion-navicon"></i>
    </a>
    <a class="button button-icon ion-chevron-left"
       ng-click="stockAdjustment.handleBack()"
       ng-if="!showMenuButton"
       tap-sound>
    </a>
    <h1 class="title">
      {{ ::title | translate | capitalize }}
    </h1>
    <a class="button button-icon ion-information-circled" ng-click="openInfoModal()" tap-sound></a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content class="has-header" ng-class="{'has-actionbar': hasSubheader}">

    <lea-wizard wizard-ctrl="::wizardCtrl">

      <lea-wizard-step config="::steps.SELECT_SOURCE">

        <input-editor title="INPUT_ACTIONS.SCAN_SOURCE"
                      callback="stockAdjustment.onSourceScan"
                      errors-definitions="errorsDef">
        </input-editor>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.SELECT_STOCK">

        <content-info headers="headerFrom">
        </content-info>

        <ion-list>
          <stock-reference ng-repeat="detail in model.details"
                           ng-click="stockAdjustment.selectDetail(detail)"
                           stock="detail.stock"
                           quantity="stockAdjustment.computeStockQuantity(detail)">
          </stock-reference>
        </ion-list>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.SELECT_DESTINATION">

        <input-editor title="INPUT_ACTIONS.SCAN_SOURCE"
                      callback="stockAdjustment.onDestinationScan"
                      errors-definitions="errorsDef">
        </input-editor>

        <content-info headers="headerFrom">
        </content-info>

        <ion-list>
          <stock-reference ng-repeat="detail in model.selections"
                           stock="detail.stock"
                           quantity="stockAdjustment.computeStockQuantity(detail)">
          </stock-reference>
        </ion-list>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.SELECT_DESTINATION_CONTAINER">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  selected-callback="stockAdjustment.onDestinationContainerSelected"
                  validation-fn="stockAdjustment.verifyDestinationContainer"
                  accept-not-existent="true"
                  is-package-type-selectable="true"
                  check-type="SERVER">
        </hu-input>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.RECAP">

        <content-info headers="headerFrom">
        </content-info>

        <content-info headers="headerTo">
        </content-info>

        <ion-list>
          <stock-reference ng-repeat="detail in model.selections"
                           stock="detail.stock"
                           quantity="stockAdjustment.computeStockQuantity(detail)">
          </stock-reference>
        </ion-list>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.INPUT_QUANTITY">

        <stock-input stock-config="quantityInputConfig"
                     callback="stockAdjustment.confirmQuantity">
        </stock-input>

        <stock-reference stock="model.selectedDetail.stock"
                         quantity="stockAdjustment.computeStockQuantity(model.selectedDetail)">
        </stock-reference>

      </lea-wizard-step>

      <lea-wizard-step config="::steps.SCAN_SERIALS">

        <input-editor title="INPUT_ACTIONS.SCAN_SERIAL"
                      validator="serialValidator"
                      callback="stockAdjustment.onSerialScan"
                      errors-definitions="errorsDef">
        </input-editor>

        <serial-progression detail="model.selectedDetail">
        </serial-progression>

        <serial-list serials="model.selectedDetail[STK_ADJ_CONST.SELECTED_SERIALS_PROP]"
                     on-remove="stockAdjustment.removeSerial(serial)">
        </serial-list>

      </lea-wizard-step>

    </lea-wizard>

  </ion-content>

  <ion-footer-bar>

    <div class="button-bar">

      <button class="button button-full button-positive"
              ng-repeat="button in buttons"
              ng-click="button.click()"
              wizard-button="::wizardCtrl"
              button-enabled="::button.step"
              on-key-press="::button.key"
              ng-show="button.condition != null ? button.condition : true"
              ng-disabled="button.disabled != null ? button.disabled : false"
              tap-sound>
        <b>{{ ::button.label | translate | uppercase }}</b>
      </button>

    </div>

  </ion-footer-bar>

</ion-view>
