<div ng-repeat="job in $ctrl.jobs" class="item" ng-click="$ctrl.onClick()(job)">

  <div class="item-title" ng-if="$ctrl.hideItem===true">
    {{::job.allocation.position.location}}
    <span class="item-status item-note"
          ng-if="$ctrl.hideStatus === false && job.status">{{::'TASK_STATUS.' + job.status | translate | uppercase}}</span>
  </div>

  <div class="item-title" ng-if="$ctrl.hideItem===false">
    {{::job.allocation.position.location}} - {{::job.allocation.itemNumber}}
  </div>
  <div class="item-description" ng-if="$ctrl.hideItem===false">
    <b>{{::'GENERIC.SHORT_QUANTITY' | translate }}</b>
    {{::job.status === 'CLOSED' || job.status === 'DONE'? job.allocation.confirmedQuantity : job.allocation.quantity}}
    <span class="item-status item-note"
          ng-if="$ctrl.hideStatus === false && job.status">{{::'TASK_STATUS.' + job.status | translate | uppercase}}</span>
  </div>

</div>
