<ion-list class="info core-list">

  <ion-item class="item-remove-animate item-text-wrap" style="pointer-events: none;">
    <div class="row">
      <div class="col info-value-left">{{parcel.code}}</div>
      <div class="col info-value">{{parcel.status}}</div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate item-text-wrap" ng-click="resolveLocation()">
    <div class="row">
      <div class="col col-33 info-label">{{::'RESOURCE.LOCATION' | translate}}</div>
      <div class="col info-value" ng-class="{ 'info-value': !mappedLocation, 'info-link-right bold': mappedLocation }">
        {{parcel.positionRef.location || '-'}}
      </div>
    </div>
  </ion-item>

  <ion-item class="item-remove-animate item-text-wrap" style="pointer-events: none;">
    <div class="row" ng-if="parcel.packageType">
      <div class="col col-33 info-label">{{::'RESOURCE.PACKAGE_TYPE' | translate}}</div>
      <div class="col info-value">{{parcel.packageType.type || '-'}}</div>
    </div>
    <div class="row">
      <div class="col col-33 info-label">{{::'PARCEL.WEIGHT' | translate}}</div>
      <div class="col info-value">{{(parcel.totalWeight | number) || '-'}} kg</div>
    </div>
    <div class="row">
      <div class="col col-33 info-label">{{::'PARCEL.VOLUME' | translate}}</div>
      <div class="col info-value">{{(parcel.totalVolume | number) || '-'}} m&sup3;</div>
    </div>
    <div class="row" ng-if="parcel.shipmentOrder">
      <div class="col col-33 info-label">{{::'PARCEL.SHIP_ORDER' | translate}}</div>
      <div class="col info-value">{{parcel.shipmentOrder.businessKey || '-'}}</div>
    </div>
    <div class="row" ng-if="parcel.shipment && parcel.shipment.carrier">
      <div class="col col-33 info-label">{{::'PARCEL.CARRIER' | translate}}</div>
      <div class="col info-value">{{parcel.shipment.carrier.partner.name || '-'}}</div>
    </div>
    <div class="row" ng-if="parcel.shipment">
      <div class="col col-33 info-label">{{::'PARCEL.ROUTE' | translate}}</div>
      <div class="col info-value">{{parcel.shipment.route || '-'}}</div>
    </div>
    <div class="row" ng-if="parcel.receiver">
      <div class="col col-33 info-label">{{::'PARCEL.RECEIVER' | translate}}</div>
      <div class="col info-value">{{parcel.receiver.partner.name || '-'}}</div>
    </div>
    <div class="row" ng-if="parcel.customer">
      <div class="col col-33 info-label">{{::'PARCEL.CUSTOMER' | translate}}</div>
      <div class="col info-value">{{parcel.customer.partner.name || '-'}}</div> <!-- change -->
    </div>
    <div class="row" ng-if="parcel.consegnee">
      <div class="col col-33 info-label">{{::'PARCEL.CONSIGNEE' | translate}}</div>
      <div class="col info-value">{{parcel.consegnee.partner.name || '-'}}</div> <!-- change -->
    </div>
  </ion-item>

</ion-list>
