<ion-list class="core-list">
  <serial-info ng-repeat="serial in $ctrl.serials track by serial"
               serial="serial"
               on-remove="$ctrl.onRemove({serial: serial})">
  </serial-info>
</ion-list>
