<div class="serial-progression">
  <div class="row">
    <div class="col left-value">{{$ctrl.detail[STK_ADJ_CONST.SELECTED_QTY_PROP]}}</div>
    <div class="slash-value">/</div>
    <div class="col right-value">{{$ctrl.detail.stock.quantity}}</div>
  </div>
</div>
