<ion-item ng-if="$ctrl.details.length === 0">
  {{::'EMPTY_LIST.NO_JOBS' | translate}}
</ion-item>

<ion-item ng-repeat="detail in $ctrl.details" ng-click="detail.status === 'BLOCKED' || $ctrl.onClick()(detail)" ng-class="{ 'selected' : $index === $ctrl.listPosition.current }"
  id="picking-task-details-item-list{{$index}}">

  <div class="item-title" style="{{(detail.status === 'BLOCKED' ? 'color: grey !important;' : '')}}">
    {{::detail.positionRef.location}} - {{::detail.item.itemNumber}}
  </div>

  <div class="item-description">
    <b ng-if="$ctrl.hideItem === false || $ctrl.hideItem === undefined">
      {{:: detail.positionRef.containerCode}} -
      {{::'GENERIC.SHORT_QUANTITY' | translate }}
      {{::(detail.status === 'CLOSED' || detail.status === 'DONE') ? detail.totalQty : detail.residualQty}}
    </b>

    <span class="item-status item-note" style="{{(detail.status === 'BLOCKED' ? 'color: grey !important;' : '')}}" ng-if="($ctrl.hideStatus === false || $ctrl.hideStatus === undefined) && detail.status">
      {{::'TASK_STATUS.' + detail.status | translate | uppercase}}</span>
  </div>
  <div class="item-description" ng-if="detail.notes">
    <b style="white-space: pre-wrap;">{{detail.notes}}</b>
  </div>

</ion-item>
