<ion-list class="core-list counting-task-counted-stocks">

  <div class="item item-divider text-value left" ng-if="$ctrl.currentCount.location">
    <i class="icon wms-icon-ico-location"></i>&nbsp;&nbsp;{{ $ctrl.currentCount.location }}
  </div>
  <div class="item item-divider text-value left" ng-if="$ctrl.currentCount.hu.code">
    <i class="icon wms-icon-ico-hu"></i>&nbsp;&nbsp;
    {{ $ctrl.currentCount.hu.code + ' (' + $ctrl.currentCount.hu.packageType.type + ')'}}
  </div>

  <ion-item class="no-padding-row no-border" style="padding-left: 30px"
            ng-repeat="stock in $ctrl.currentCount.stocks track by $index"
            ng-if="$ctrl.currentCount.stocks.length > 0" ng-class="{'reduce-font' : $index > 0}">

    <div class="row">
      <div class="col col-10">
        <i class="icon wms-icon-ico-articolo"></i>
      </div>
      <div class="col">
        <item-reference item="stock.item"></item-reference>
      </div>
      <div class="col" style="text-align:right">
        <div class="text-value">{{stock.quantity}}</div>
        <a class="icon ion-camera text-link" style="font-size: 30px" ng-if="!$ctrl.disableInteraction"
           ng-click="$ctrl.openCamera($ctrl.currentCountPhotos || [], $index)"></a>
      </div>
    </div>

    <production-info production-info="stock.productionInfo"
                     hide-lot-id="taskDetailConfig.lotMandatory  === false"
                     hide-made-in="taskDetailConfig.madeInMandatory  === false"
                     hide-expiry-date="taskDetailConfig.expiryDateMandatory  === false"
                     hide-production-date="taskDetailConfig.productionDateMandatory  === false"
                     hide-version-info="taskDetailConfig.versionInfoMandatory  === false">
    </production-info>

    <div class="row" ng-if="stock.qualityCheck">
      <div class="col text-label text-bold">
        {{ 'QUALITY_CHECK.STATUS' | translate }}
      </div>
      <div class="col text-value">
        {{ 'QUALITY_CHECK.' + stock.qualityCheck.cqStatus | translate }}
      </div>
    </div>

  </ion-item>

  <div ng-repeat="count in $ctrl.countHistory track by $index" class="history">

    <div class="item item-divider text-value left" ng-if="count.hu.code">
      <i class="icon wms-icon-ico-hu"></i>&nbsp;&nbsp;{{ count.hu.code + ' (' + count.hu.packageType.type + ')'}}
    </div>

    <ion-item class="no-padding-row no-border" ng-repeat="stock in count.stocks track by $index"
              style="padding-left: 30px">

      <div class="row">
        <div class="col col-10">
          <i class="icon wms-icon-ico-articolo"></i>
        </div>
        <div class="col">
          <item-reference item="stock.item" hide-description="true"></item-reference>
        </div>
        <div class="col" style="text-align:right">
          <div class="text-value">{{stock.quantity}}</div>
        </div>
      </div>

      <production-info production-info="stock.productionInfo"
                       hide-lot-id="taskDetailConfig.lotMandatory === false"
                       hide-made-in="taskDetailConfig.madeInMandatory === false"
                       hide-expiry-date="taskDetailConfig.expiryDateMandatory === false"
                       hide-production-date="taskDetailConfig.productionDateMandatory === false"
                       hide-version-info="taskDetailConfig.versionInfoMandatory === false">
      </production-info>

      <div class="row" ng-if="stock.qualityCheck">
        <div class="col text-label text-bold">
          {{ 'QUALITY_CHECK.STATUS' | translate }}
        </div>
        <div class="col text-value">
          {{ 'QUALITY_CHECK.' + stock.qualityCheck.cqStatus | translate }}
        </div>
      </div>

    </ion-item>

  </div>

</ion-list>
