<div class="package-type">

  <ion-list ng-if="packageTypes.length > 0" class="core-list" delegate-handle="package-type-list">

    <ion-item ng-if="packageTypes.length === 0"><span>{{'EMPTY_LIST.PACKAGE_TYPE' | translate}}</span></ion-item>

    <ion-item id="package-type-item-list{{$index}}"
              ng-class="{ 'selected' : $index === listPosition.current }"
              ng-repeat="package in packageTypes track by $index"
              ng-click="packageType.selectPackageType(package)"
              tap-sound>
      <div class="item-title">{{package.packageType.type}}</div>
      <div class="item-description">{{package.description}}</div>
    </ion-item>

  </ion-list>

</div>
