<div class="{{ 'progression-display' + ( $ctrl.background !== null ? ' ' + $ctrl.background : '')}}">
  <div class="row" ng-if="$ctrl.title">
    <div class="col">
      <div class="header">{{::$ctrl.title}}</div>
    </div>
  </div>
  <div class="row" style="margin-top: 12px; margin-bottom: 12px">
    <div class="col left-value">{{$ctrl.leftValue}}</div>
    <div class="slash-value">/</div>
    <div class="col right-value">{{$ctrl.rightValue}}</div>
  </div>
  <div class="row">
    <div class="col left-text">{{$ctrl.leftText | translate | uppercase}}</div>
    <div class="slash-value"></div>
    <div class="col right-text">{{$ctrl.rightText | translate | uppercase}}</div>
  </div>
  <div class="row footer" ng-repeat="el in $ctrl.footerValues" ng-if="el.value">
    <div class="col footer-text">{{el.text | translate | uppercase}}</div>
    <div class="col footer-value">{{el.value | translate | uppercase}}</div>
  </div>
</div>
