<div class="wms-card card-with-border">
  <!-- Item -->
  <div class="wms-card-content">
    <div class="content-icon" ng-show="config.icon">
      <i class="icon {{config.icon}}"></i>
    </div>
    <item-reference item="$ctrl.stock.item"></item-reference>
    <div class="text-value right-content">
      <span>{{ $ctrl.quantity || $ctrl.stock.quantity || 0}}</span>
      <span ng-if="$ctrl.total"> / {{ $ctrl.total }}</span>
    </div>
  </div>
  <!-- Production Info -->
  <production-info2 class="wms-card-content"
                    ng-show="!isEmpty($ctrl.stock.productionInfo)"
                    production-info="$ctrl.stock.productionInfo"
                    config="$ctrl.config.productionInfo">
  </production-info2>
  <!-- Accounting Info -->
  <accounting-info2 class="wms-card-content"
                    ng-show="!isEmpty($ctrl.stock.accountingInfo)"
                    accounting-info="$ctrl.stock.accountingInfo">
  </accounting-info2>
  <!-- Quality check -->
  <div ng-show="$ctrl.stock.qualityCheck">
    <div class="col text-label text-bold">
      {{ $ctrl.stock.qualityCheck.cqStatusReason ? $ctrl.stock.qualityCheck.cqStatusReason + ' - ' : '' }}
      {{ 'QUALITY_CHECK.' + $ctrl.stock.qualityCheck.cqStatus | translate }}
    </div>
  </div>

  <!-- actions -->
  <div class="wms-card-actions" ng-show="$ctrl.showActionBar" ng-transclude></div>
</div>
