<ion-modal-view title="master-data-incomplete-task">

  <ion-header-bar class="bar bar-header process-modal-header" align-title="center">
    <h1 class="title">{{::'MODAL.INCOMPLETE_MASTER_DATA' | translate | capitalize}}</h1>
    <a class="button button-clear icon ion-close" ng-click="close()"></a>
  </ion-header-bar>

  <div class="bar bar-subheader">
    <div class="item item-text-wrap item-button-right info-display" style="padding: 0">
      <i class="icon wms-icon-ico-articolo" style="float: left; padding-top: 10px; padding-right: 10px"></i>
      <div>{{::task.item.itemNumber}} <br/>
        {{::task.item.shortDescription}}
      </div>
    </div>
  </div>

  <ion-content class="has-header has-subheader" delegate-handle="master-data-incomplete-task">

    <add-item-info-form ng-model="mdModel.data"
                        on-validate="onValidate"
                        item-master-data-config="taskConfig"
                        item-master-data-default-values="taskDetail">
    </add-item-info-form>

  </ion-content>

  <ion-footer-bar>
    <button class="button button-full button-positive" ng-disabled="!mdModel.isValid"
            ng-click="confirm()">{{ 'GENERIC.CONFIRM' | translate | uppercase }}
    </button>
  </ion-footer-bar>

</ion-modal-view>
