<ion-modal-view title="item-quality-check">

  <ion-header-bar class="bar bar-header process-modal-header" align-title="center">
    <h1 class="title">{{ ::'COUNTING.QUALITY_CHECK.TITLE' | translate | capitalize }}</h1>
    <a class="button button-clear icon ion-close" ng-click="itemQualityCheck.close()"></a>
  </ion-header-bar>

  <ion-content class="has-header">

    <quality-check-selection values="qualityStatus.values"
                             stock="stock"
                             on-click="itemQualityCheck.selectQualityStatus">
    </quality-check-selection>

  </ion-content>

</ion-modal-view>
