<div class="wms-card card-with-border">
  <!-- Item -->
  <div class="wms-card-content">

    <div class="content-icon" ng-show="config.icon">
      <i class="icon {{config.icon}}"></i>
    </div>
    <div class="col info-value-left">{{$ctrl.parcel.code}}</div>
  </div>

  <div class="wms-card-content">
    <div class="item-description">{{'PARCEL.VOLUME' | translate}}:</div>
    <div class="wms-card-content text-value">{{$ctrl.parcel.totalVolume}} m&sup3;</div>
  </div>

  <div class="wms-card-content">
    <div class="item-description">{{'PARCEL.WEIGHT' | translate}}:</div>
    <div class="wms-card-content text-value">{{$ctrl.parcel.totalWeight}} kg</div>
  </div>
  <!-- actions -->
  <div class="wms-card-actions" ng-show="$ctrl.showActionBar" ng-transclude></div>
</div>
