<div class="add-item-info-form" ng-init="showPackageTypes('palletType'); showPackageTypes('outerType')">

  <form name="addItemInfoForm" id="addItemInfoForm">

    <label class="item item-input item-select master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.palletType.$invalid, 'no-errors' : addItemInfoForm.palletType.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.PALLET_TYPE' | translate }}</span>

      <select name="palletType" id="palletType"
              ng-required="configuration.palletTypeMandatory"
              placeholder="{{itemMasterDataDefaultValues.palletType}}"
              ng-value="itemMasterDataDefaultValues.palletType"
              ng-model="internalModel.palletType"
              style="width: 100%; background-color: transparent">
        <option ng-repeat="palletType in palletTypeList"
                ng-value="palletType.packageType.type">
          {{palletType.packageType.type + ' ~ ' + palletType.description}}
        </option>
      </select>
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.palletQty.$invalid, 'no-errors' : addItemInfoForm.palletQty.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.PALLET_QTY' | translate }}</span>
      <input type="number"
             name="palletQty"
             placeholder="{{itemMasterDataDefaultValues.palletQty}}"
             ng-model="internalModel.palletQty"
             ng-min="validations.palletQty"
             tabindex="1"
             next-on-enter
             ng-required="configuration.palletQtyMandatory">
    </label>

    <label class="item item-input item-select master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.outerType.$invalid, 'no-errors' : addItemInfoForm.outerType.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.OUTER_TYPE' | translate }}</span>

      <select name="outerType" id="outerType"
              ng-required="configuration.outerTypeMandatory"
              placeholder="{{itemMasterDataDefaultValues.outerType}}"
              ng-value="itemMasterDataDefaultValues.outerType"
              ng-model="internalModel.outerType"
              style="width: 100%; background-color: transparent">
        <option ng-repeat="outerType in outerTypeList"
                ng-value="outerType.packageType.type">
          {{outerType.packageType.type + ' ~ ' + outerType.description}}
        </option>
      </select>

    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.outerQty.$invalid, 'no-errors' : addItemInfoForm.outerQty.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.OUTER_QTY' | translate }}</span>
      <input type="number"
             name="outerQty"
             placeholder="{{itemMasterDataDefaultValues.outerQty}}"
             ng-model="internalModel.outerQty"
             ng-min="validations.outerQty"
             tabindex="3"
             next-on-enter
             ng-required="configuration.outerQtyMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.layerHeight.$invalid, 'no-errors' : addItemInfoForm.layerHeight.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.LAYER_HEIGHT' | translate }}</span>
      <input type="number"
             name="layerHeight"
             placeholder="{{itemMasterDataDefaultValues.layerHeight}}"
             ng-model="internalModel.layerHeight"
             ng-min="validations.layerHeight"
             tabindex="4"
             next-on-enter
             ng-required="configuration.layerHeightMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.layerQty.$invalid, 'no-errors' : addItemInfoForm.layerQty.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.LAYER_QTY' | translate }}</span>
      <input type="number"
             name="layerQty"
             placeholder="{{itemMasterDataDefaultValues.layerQty}}"
             ng-model="internalModel.layerQty"
             ng-min="validations.layerQty"
             tabindex="5"
             next-on-enter
             ng-required="configuration.layerQtyMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.weightNet.$invalid, 'no-errors' : addItemInfoForm.weightNet.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.WEIGHT_NET' | translate }}</span> {{configuration.weightNet}}
      <input type="number"
             name="weightNet"
             placeholder="{{itemMasterDataDefaultValues.weightNet}}"
             ng-model="internalModel.weightNet"
             ng-min="validations.weightNet"
             tabindex="6"
             next-on-enter
             ng-required="configuration.weightNetMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.length.$invalid, 'no-errors' : addItemInfoForm.length.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.LENGTH' | translate }}</span>
      <input type="number"
             name="length"
             placeholder="{{itemMasterDataDefaultValues.length}}"
             ng-model="internalModel.length"
             ng-min="validations.length"
             tabindex="7"
             next-on-enter
             ng-required="configuration.lengthMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.width.$invalid, 'no-errors' : addItemInfoForm.width.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.WIDTH' | translate }}</span>
      <input type="number"
             name="width"
             placeholder="{{itemMasterDataDefaultValues.width}}"
             ng-model="internalModel.width"
             ng-min="validations.width"
             tabindex="8"
             next-on-enter
             ng-required="configuration.widthMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.height.$invalid, 'no-errors' : addItemInfoForm.height.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.HEIGHT' | translate }}</span>
      <input type="number"
             name="height"
             placeholder="{{itemMasterDataDefaultValues.height}}"
             ng-model="internalModel.height"
             ng-min="validations.height"
             tabindex="9" next-on-enter
             ng-required="configuration.heightMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.innerUnit.$invalid, 'no-errors' : addItemInfoForm.innerUnit.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.INNER_UNIT' | translate }}</span>
      <input type="number"
             name="innerUnit"
             placeholder="{{itemMasterDataDefaultValues.innerUnit}}"
             ng-model="internalModel.innerUnit"
             ng-min="validations.innerUnit"
             tabindex="10"
             next-on-enter
             ng-required="configuration.innerUnitMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.barcode.$invalid, 'no-errors' : addItemInfoForm.barcode.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.BARCODE' | translate }}</span>
      <input type="text"
             name="barcode"
             placeholder="{{itemMasterDataDefaultValues.barcode}}"
             ng-model="internalModel.barcode"
             tabindex="11"
             next-on-enter
             ng-required="configuration.barcodeMandatory">
    </label>

    <label class="item item-input master-data-info-slide"
           ng-class="{ 'has-errors' : addItemInfoForm.volume.$invalid, 'no-errors' : addItemInfoForm.volume.$valid}">
      <span class="input-label">{{ 'GENERIC_MASTER_DATA.VOLUME' | translate }}</span>
      <input type="number"
             name="volume"
             placeholder="{{itemMasterDataDefaultValues.volume}}"
             ng-model="internalModel.volume"
             ng-min="validations.volume"
             tabindex="12"
             ng-required="configuration.volumeMandatory">
    </label>

  </form>

</div>
