<div class="item-reference" ng-click="$ctrl.onClick()">
  <div class="item-reference-number" ng-class="{'text-link bold': $ctrl.linkStyle}">
    {{$ctrl.item.itemNumber}}
  </div>
  <div class="company"><span class="company-code">{{$ctrl.item.company.code}}</span>
    <span ng-if="$ctrl.item.company.info.name !== null && $ctrl.item.company.info.name.length > 0"
          class="company-name">&nbsp;-&nbsp;{{$ctrl.item.company.info.name}}</span>
  </div>
  <div class="item-reference-description"
       ng-if="($ctrl.item.shortDescription !== null && $ctrl.item.shortDescription.length > 0) && $ctrl.hideDescription !== true">
    {{$ctrl.item.shortDescription}}
  </div>
</div>
