<ion-list class="core-list">

  <ion-item ng-if="items.length === 0">
    <div class="item-title">{{::'EMPTY_LIST.ITEM_COUNTED' | translate}}</div>
  </ion-item>

  <ion-item id="packing-task-item-list{{$index}}"
            ng-class="{ 'selected' : $index === $ctrl.listPosition.current, 'disabled' : item.disabled }"
            ng-repeat="item in $ctrl.items track by $index"
            ng-click="$ctrl.onClick()(item)">

    <div class="item-title">{{::item.itemNumber}}</div>

    <div class="item-description">{{::item.shortDescription}}
      <span class="item-note">
        <b>{{::item.packedQt}}</b>/{{::item.allocatedQty}}
      </span>
    </div>

  </ion-item>

</ion-list>
