<ion-view view-title="change-location" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center" class="headerWithButton">

    <a class="button button-clear button-positive" ng-if="currentStep !== steps.HU.name" ng-click="changeLocation.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>

    <a class="button button-clear" menu-toggle="left" style="display: block;" ng-if="currentStep === steps.HU.name" tap-sound>
      <i class="icon ion-navicon"></i>
    </a>

    <h1 class="title">{{:: 'MOVEMENT.GENERIC.MOVEMENT' | translate | capitalize}}</h1>

    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>

  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content class="has-header" ng-class="{'has-actionbar': hasSubheader}">

    <wizard name="changeLocationWz" hide-indicators="true">

      <!-- Scan HU -->
      <wz-step wz-title="{{steps.HU.name}}">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  check-type="SERVER"
                  accept-not-existent="false"
                  selected-callback="changeLocation.onHuSelected">
        </hu-input>

      </wz-step>

      <!-- Scan Destination -->
      <wz-step wz-title="{{steps.DESTINATION.name}}">
        <location-input title="INPUT_ACTIONS.SCAN_DESTINATION"
                        selected-callback="changeLocation.confirmDestination"
                        allow-unexpected="true">
        </location-input>

      </wz-step>

    </wizard>

    <content-info headers="infoHeader"></content-info>

  </ion-content>

  <ion-footer-bar keyboard-attach>
    <button class="button button-full button-positive" ng-if="currentStep === steps.DESTINATION.name"
            ng-click="changeLocation.generatePutawayTask()">{{ 'GENERIC.SUGGEST_DESTINATION' | translate | uppercase }}
    </button>

  </ion-footer-bar>

</ion-view>
