<ion-view view-title="picking-whole" hide-nav-bar="true" cache-view="false" content="width=device-width">

  <ion-header-bar align-title="center">
    <a class="button button-clear button-positive" ng-click="pickingWhole.handleBack()" tap-sound>
      <i class="icon ion-chevron-left"></i>
    </a>
    <h1 class="title" ng-click="openTaskDetails(task, taskInfo, null, { disableInteraction: true })" tap-sound>
      {{::'PICKING.GENERIC.PICKING_WHOLE' | translate | capitalize}}</h1>
    <a class="button button-clear button-positive" ng-click="openInfoModal()" tap-sound>
      <i class="icon ion-information-circled"></i>
    </a>
  </ion-header-bar>

  <div class="bar action-bar" ng-if="hasSubheader">
    <action-bar map="mapMessage"></action-bar>
  </div>

  <ion-content delegate-handle="picking-whole" ng-class="{'has-footer': hasFooter, 'has-actionbar': hasSubheader}">

    <wizard name="pickingWholeWz" hide-indicators="true" ng-if="loaded">

      <wz-step wz-title="{{::steps.HU.name}}">

        <hu-input title="INPUT_ACTIONS.SCAN_HU_CODE"
                  placeholder="{{taskDetail.positionRef.containerCode}}"
                  validation-fn="pickingWhole.verifyHu"
                  check-type="SERVER"
                  selected-callback="pickingWhole.onHuSelected"
                  is-package-type-selectable="false">
        </hu-input>

      </wz-step>

      <wz-step wz-title="{{::steps.DESTINATION.name}}">

        <location-input title="INPUT_ACTIONS.SCAN_LOCATION"
                        selected-callback="pickingWhole.onDestinationSelected"
                        allow-unexpected="true"
                        default-value="(validation.suggestedDestination) ? validation.suggestedDestination.location : null"
                        config="steps.DESTINATION.locationConfig">
        </location-input>

      </wz-step>

      <wz-step wz-title="{{::steps.DETAILS.name}}">

        <ion-list class="core-list">
          <picking-task-details-item-list details="taskDetails"
                                          hide-item="true"
                                          list-position="listPosition"
                                          on-click="pickingWhole.onDetailSelected"
                                          only-active="true">
          </picking-task-details-item-list>
        </ion-list>

      </wz-step>

    </wizard>

    <content-info headers="headerFrom" ng-show="showFromInfo"></content-info>
    <content-info headers="headerTo" ng-show="showToInfo"></content-info>

  </ion-content>

  <ion-footer-bar ng-if="hasFooter">
    <div class="button-bar">
      <button class="button button-full button-positive"
              ng-if="showChangeDetailBtn"
              ng-click="pickingWhole.changeDetail()"
              tap-sound>
        <b>{{ 'GENERIC.CHANGE_JOB' | translate | uppercase }}</b>
      </button>

      <button class="button button-full button-positive"
              ng-if="showMissingContainerBtn"
              ng-click="pickingWhole.missingContainer()"
              tap-sound>
        <b>{{ 'PICKING.BUTTONS.MISSING_CONTAINER' | translate | uppercase }}</b>
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
