<ion-list id="stock-taking-details" class="core-list">

  <ion-item ng-if="$ctrl.details.length === 0">
    {{::'STOCKTAKING.GENERIC.EMPTY_LOCATION' | translate}}
  </ion-item>

  <ion-item ng-repeat="detail in visibleDetails track by detail.id"
            ng-click="$ctrl.onClick()(detail)"
            ng-class="{'selected' : $index === $ctrl.listPosition.current}"
            id="stock-taking-task-details-{{$index}}"
            tap-sound>

    <div style="display: flex;">
      <div style="align-self: center;">
        <p class="item-title">
          {{ ::detail.position.location }}
        </p>
        <p class="item-description" ng-if="detail.position.containerCode">
          {{ ::detail.position.containerCode }}
        </p>
        <p class="item-description" ng-if="detail.item">
          {{ ::detail.item.itemNumber }}
        </p>
      </div>
      <div style="flex: 1;"></div>
      <span class="item-description item-status item-note">
        {{::'STOCKTAKING.STATUS.' + detail.status | translate | uppercase}}
      </span>
    </div>

  </ion-item>

</ion-list>
